force-app/main/default/flows/Email_will_be_sent_when_case_is_inserted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Auto_Email</name>
        <label>Auto Email</label>
        <locationX>754</locationX>
        <locationY>684</locationY>
        <actionName>AutoResponseEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CaseList</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AutoResponseEmail</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Dummy_variable</name>
        <label>Assign Dummy variable</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>v_dummy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Task_Assignment</name>
        <label>Task Assignment</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>rv_Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Case Creation Comm SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task.Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Mobile_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task.Meeting_Call_Purpose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Case Creation Notification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task.Attribute2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Creation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_origin_is_email_or_phone</name>
        <label>Case origin is email or phone</label>
        <locationX>534</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Only_When_Email_is_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Case_Origin_is_phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NewCaseMailDelivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Mobile_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Assignment</targetReference>
            </connector>
            <label>If Case Origin is phone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Only_When_Email_is_Updated</name>
        <label>Only When Email is Updated</label>
        <locationX>754</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND Not 5</conditionLogic>
            <conditions>
                <leftValueReference>css</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer Service Investment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Case_No_Auto_Reply_Emails</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.SuppliedEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>When_Inserted</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND NOT 6</conditionLogic>
            <conditions>
                <leftValueReference>css</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NewCaseMailDelivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer Service Investment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Case_No_Auto_Reply_Emails</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.SuppliedEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Email</targetReference>
            </connector>
            <label>When Inserted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>css</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Email will be sent when case is inserted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email will be sent when case is inserted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Task_Creation</name>
        <label>Task Creation</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <inputReference>rv_Task</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>534</locationX>
        <locationY>876</locationY>
        <inputAssignments>
            <field>NewCaseMailDelivered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>166</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Dummy_variable</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 AND 2 AND 3 ) OR (4 and 5)</filterLogic>
        <filters>
            <field>SuppliedEmail</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SuppliedEmail</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>reachus@northernarc.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Mobile_No__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Case_origin_is_email_or_phone</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rv_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>v_dummy</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
