force-app/main/default/flows/F_account_before_insert_update_sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Masked_Field_Variables</name>
        <label>Assign Masked Field Variables</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Masked_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_MaskedEmailField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Masked_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_MaskedPhoneField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AADHAAR_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_MaskedAadhaarNofield</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Masked_BillingCIty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_BillingCityFIlling</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Masked_BillingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_maskedBillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Masked_BillingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_MaskedBillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Masked_BillingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_MaskedBillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Masked_BillingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_MaskedBillimgStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Masked_PAN_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_MaskedPanNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mdv_FillingaccountMaskedDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Account_Main_Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Main_Decision</name>
        <label>Account Main Decision</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Masked_Outcome_Exist</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6  OR 8 OR 9 OR 10 OR 11) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Id__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingAddress</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_FillingaccountMaskedDetails</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AADHAAR_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AADHAAR_No__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PAN_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PAN_No__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Masked_Field_Variables</targetReference>
            </connector>
            <label>Check Masked Outcome - Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fv_BillingCityFIlling</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.BillingCity})), {!$Record.BillingCity}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fv_MaskedAadhaarNofield</name>
        <dataType>String</dataType>
        <expression>(IF(NOT(ISBLANK( {!$Record.AADHAAR_No__c})),  {!$Record.AADHAAR_No__c}, &apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>fv_MaskedBillimgStreet</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.BillingStreet})), {!$Record.BillingStreet}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fv_maskedBillingCountry</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.BillingCountry})), {!$Record.BillingCountry}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fv_MaskedBillingPostalCode</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.BillingPostalCode})), {!$Record.BillingPostalCode}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fv_MaskedBillingState</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.BillingState})), {!$Record.BillingState}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fv_MaskedEmailField</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Email_Id__c})), {!$Record.Email_Id__c}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fv_MaskedPanNumber</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.PAN_No__c})), {!$Record.PAN_No__c}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fv_MaskedPhoneField</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Phone})), {!$Record.Phone}, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>F account insert/update sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F account before insert/update sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Main_Decision</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>mdv_FillingaccountMaskedDetails</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
