force-app/main/default/flows/F_Audit_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>CommunicationAPI_Nimbusv1</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__inp_record</typeName>
            <typeValue>API_Callout_Audit__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inp_record</name>
            <value>
                <elementReference>CurrentAPIRec</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CommunicationAPI_Nimbusv1</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Audit_Record</name>
        <label>Audit Record</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>CurrentAPIRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAPIRec.Task_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Task_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>F Audit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F Audit After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Processed__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </filters>
        <filters>
            <field>Process_Attribute_Details__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>API_Callout_Audit__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Audit_Record</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CurrentAPIRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>API_Callout_Audit__c</objectType>
    </variables>
</Flow>
