force-app/main/default/flows/F_AuditAPI_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_mdv_CloseRelatedTask</name>
        <label>Assign mdv_CloseRelatedTask</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>mdv_CloseRelatedTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_TaskStatusToCompleted</name>
        <label>Assignment_TaskStatusToCompleted</label>
        <locationX>842</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>rv_taskRec.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Task_Status_Completed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_taskRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Task_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_TaskStatusToFailed</name>
        <label>Assignment_TaskStatusToFailed</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>rv_taskRec.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Task_Status_Failed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_taskRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Task_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Status_Update_To_Failed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>API_Communication_Status</name>
        <label>API Communication Status</label>
        <locationX>842</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Status_To_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.AuditAPIFailedStatus</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.API_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_TaskStatusToFailed</targetReference>
            </connector>
            <label>Task Status To Failed</label>
        </rules>
        <rules>
            <name>Task_Status_To_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.AuditAPIStatus</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.API_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_TaskStatusToCompleted</targetReference>
            </connector>
            <label>Task Status To Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Decision</name>
        <label>Main Decision</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>API_Audit_Status_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_CloseRelatedTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Task</targetReference>
            </connector>
            <label>API Audit Status - Outcome</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>F AuditAPI After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F AuditAPI After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Task_Status_Update_To_Failed</name>
        <label>Task Status Update To Failed</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <inputReference>rv_taskRec</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records 2</label>
        <locationX>842</locationX>
        <locationY>492</locationY>
        <inputReference>rv_taskRec</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Task</name>
        <label>Update Related Task</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Assign_mdv_CloseRelatedTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Task_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Main_Decision</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>API_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>API_Callout_Audit__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>API_Communication_Status</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>mdv_CloseRelatedTask</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>rv_taskRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
