force-app/main/default/flows/F_Case_Before_InsertUpdate_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Current_User_Associated_Public_Group_Ids</name>
        <label>Add Current User Associated Public Group Ids</label>
        <locationX>3438</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>cv_CurrentUserAssociatedPublicGroupIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Current_User_Associated_Public_Group.GroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Current_User_Associated_Public_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Acount_Details</name>
        <label>Assign Acount Details</label>
        <locationX>1018</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Cust_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.External_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_PAN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PAN_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Partner_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Partner_Name__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Mobile_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_Customer_Mobile_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_PolulateCustomerDetails_PopulateCustomerDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Attributes_DiscardMaidId</name>
        <label>Assign Case Attributes - DiscardMaidId</label>
        <locationX>1722</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discard_Mail_ID.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discard_Mail_ID.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discard_Mail_ID.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sub_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discard_Mail_ID.Sub_Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_v_case_record_updated_inside_flow_DiscardMailId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CaseCommentHistory</name>
        <label>Assign CaseCommentHistory</label>
        <locationX>754</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Comment_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_Updated_Case_ChatHIstory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_CommentNotNullOutcome</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Owner_from_Group_to_Current_User</name>
        <label>Assign Current Owner from Group to Current User</label>
        <locationX>3218</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_ChangeCurrentOwnerCurrentOwnerGroup_ChangeOwner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Owner</name>
        <label>Assign Default Owner</label>
        <locationX>2338</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_default_Group_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_v_case_record_updated_inside_flow_Assign_Process_Attribute_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Individual_Owner</name>
        <label>Assign First Individual Owner</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.First_Individual_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.First_Individual_Owner_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_FirstIndividualOwnerOutcome</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FTR_Details</name>
        <label>Assign FTR Details</label>
        <locationX>2954</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.FTR_Closed_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Case_Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_queue_Name_and_datetime</name>
        <label>Assign Last queue Name and datetime</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Queue_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:Group.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_Queue_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_latestOwnerDateTime_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Latest_Owner_Date_Time</name>
        <label>Assign Latest Owner Date Time</label>
        <locationX>446</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Latest_Owner_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Case_Owner_Is_Group_or_Not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_Assign_Process_Attribute_Id_AssignProcessAttributeId</name>
        <label>Assign mdv_Assign_Process_Attribute_Id - AssignProcessAttributeId</label>
        <locationX>2624</locationX>
        <locationY>1643</locationY>
        <assignmentItems>
            <assignToReference>mdv_Assign_Process_Attribute_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Case_Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_ChangeCurrentOwnerCurrentOwnerGroup_ChangeOwner</name>
        <label>Assign mdv_ChangeCurrentOwnerCurrentOwnerGroup -ChangeOwner</label>
        <locationX>3350</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>mdv_ChangeCurrentOwnerCurrentOwnerGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Case_Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_CommentNotNullOutcome</name>
        <label>Assign  - mdv_CommentNotNullOutcome</label>
        <locationX>754</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>mdv_CommentNotNullOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Case_Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_EmailToCaseDiscardMailId</name>
        <label>Assign mdv_EmailToCaseDiscardMailId</label>
        <locationX>1634</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>mdv_EmailToCaseDiscardMailId</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Case_Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_FirstIndividualOwnerOutcome</name>
        <label>Assign mdv_FirstIndividualOwnerOutcome</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>mdv_FirstIndividualOwnerOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Case_Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_latestOwnerDateTime_False</name>
        <label>Assign mdv_latestOwnerDateTime-False</label>
        <locationX>446</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>mdv_LatestOwnerDateTIme</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Case_Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_PolulateCustomerDetails_PopulateCustomerDetails</name>
        <label>Assign mdv_PolulateCustomerDetails - PopulateCustomerDetails</label>
        <locationX>1018</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>mdv_PolulateCustomerDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Case_Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_ReOpenedCase_ReopenedCase</name>
        <label>Assign mdv_ReOpenedCase - ReopenedCase</label>
        <locationX>3658</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>mdv_ReOpenedCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Case_Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_RepeatedEmailToCase</name>
        <label>Assign mdv_RepeatedEmailToCase</label>
        <locationX>2030</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>mdv_RepeatedEmailToCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Case_Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_TaskCreation_AssignProcessAttributeId</name>
        <label>Assign mdv_TaskCreation - AssignProcessAttributeId</label>
        <locationX>2624</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>mdv_TaskCreation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_Assign_Process_Attribute_Id_AssignProcessAttributeId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Id_To_Current_Case</name>
        <label>Assign Parent Id To Current Case</label>
        <locationX>1898</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Previous_Open_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_v_case_record_updated_inside_flow_RepeatedEmailToCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Process_Attribute_to_Case</name>
        <label>Assign Process Attribute to Case</label>
        <locationX>2624</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Attribute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Attribute.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RecordType_To_Case</name>
        <label>Assign RecordType To Case</label>
        <locationX>2624</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Owner_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_ReopenedCase</name>
        <label>Assign Status - ReopenedCase</label>
        <locationX>3658</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_ReOpened_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_v_case_record_updated_inside_flow_ReopendCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_v_case_record_updated_inside_flow_Assign_Process_Attribute_ID</name>
        <label>Assign v_case_record_updated_inside_flow - Assign Process Attribute ID</label>
        <locationX>2624</locationX>
        <locationY>1427</locationY>
        <assignmentItems>
            <assignToReference>v_case_record_updated_inside_flow</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_TaskCreation_AssignProcessAttributeId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_v_case_record_updated_inside_flow_DiscardMailId</name>
        <label>Assign v_case_record_updated_inside_flow - DiscardMailId</label>
        <locationX>1722</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>v_case_record_updated_inside_flow</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Discard_Mail_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_v_case_record_updated_inside_flow_ReopendCase</name>
        <label>Assign v_case_record_updated_inside_flow - ReopendCase</label>
        <locationX>3658</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>v_case_record_updated_inside_flow</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_ReOpenedCase_ReopenedCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_v_case_record_updated_inside_flow_RepeatedEmailToCase</name>
        <label>Assign v_case_record_updated_inside_flow - RepeatedEmailToCase</label>
        <locationX>1898</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>v_case_record_updated_inside_flow</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_RepeatedEmailToCase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>The main controller for all case related trigger</description>
        <name>Case_Main_Decision</name>
        <label>Case Main Decision</label>
        <locationX>1986</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_First_Individual_Owner_Output_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_Individual_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_FirstIndividualOwnerOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_First_Individual_Owner</targetReference>
            </connector>
            <label>Case First Individual Owner Output - NULL</label>
        </rules>
        <rules>
            <name>Change_of_Owner_Outcome_True</name>
            <conditionLogic>1 AND 3 AND (2 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_LatestOwnerDateTIme</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Latest_Owner_Date_Time</targetReference>
            </connector>
            <label>Change of Owner Outcome - True</label>
        </rules>
        <rules>
            <name>Comment_Outcome_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Comments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Comments</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_CommentNotNullOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CaseCommentHistory</targetReference>
            </connector>
            <label>Comment Outcome - Not Null</label>
        </rules>
        <rules>
            <name>Populate_Customer_Details_Outcome</name>
            <conditionLogic>1 AND( 2 OR 4) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_PolulateCustomerDetails</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Acount_Details</targetReference>
            </connector>
            <label>Populate Customer Details - Outcome</label>
        </rules>
        <rules>
            <name>EmailToCase_Discarded_Mail_ID_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_EmailToCaseDiscardMailId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EmailToCase_Discarded_Mail_ID</targetReference>
            </connector>
            <label>EmailToCase Discarded Mail ID - Outcome</label>
        </rules>
        <rules>
            <name>Repeated_EmailToCase_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mdv_RepeatedEmailToCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Case_Web_EmailID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_Open_Case</targetReference>
            </connector>
            <label>Repeated EmailToCase - Outcome</label>
        </rules>
        <rules>
            <name>Assign_Process_Attribute_ID_Outcome_Outcome</name>
            <conditionLogic>1 AND 2 AND 3 AND 8 and ((4 or 5 or 6  or 9)  or 7 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Attribute__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_Assign_Process_Attribute_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Attribute</targetReference>
            </connector>
            <label>Assign Process Attribute ID Outcome - Outcome</label>
        </rules>
        <rules>
            <name>Assign_FTR_Details_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.Case_Status_Closed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FTR_Closed_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_FTR_Details</targetReference>
            </connector>
            <label>Assign FTR Details - Outcome</label>
        </rules>
        <rules>
            <name>Change_of_Owner_if_Current_Owner_is_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_ChangeCurrentOwnerCurrentOwnerGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fv_Current_Owner_Queue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_default_Group_Details.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_User_Associated_Public_Groups</targetReference>
            </connector>
            <label>Change of Owner if Current Owner is Queue</label>
        </rules>
        <rules>
            <name>Reopened_Cases_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.Case_Status_Open</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Case_Status_Closed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_ReOpenedCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_ReopenedCase</targetReference>
            </connector>
            <label>Reopened Cases - Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Owner_Is_Group_or_Not</name>
        <label>Check Case Owner Is Group or Not</label>
        <locationX>446</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_latestOwnerDateTime_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Owner_Output_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Last_queue_Name_and_datetime</targetReference>
            </connector>
            <label>Case Owner Output - Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Supplied_Email</name>
        <label>Check Case Supplied Email</label>
        <locationX>1854</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Loop_Discard_Mail_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discarded_Email_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Discard_Mail_ID.Email_IDs__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.SuppliedEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Attributes_DiscardMaidId</targetReference>
            </connector>
            <label>Discarded Email Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Group_details_Exist</name>
        <label>Check Group details Exist</label>
        <locationX>2470</locationX>
        <locationY>1043</locationY>
        <defaultConnector>
            <targetReference>Assign_v_case_record_updated_inside_flow_Assign_Process_Attribute_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Group_Details_Outcome_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_default_Group_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Owner</targetReference>
            </connector>
            <label>Group Details Outcome - Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Owner_Id</name>
        <label>Check Owner Id</label>
        <locationX>2624</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Assign_v_case_record_updated_inside_flow_Assign_Process_Attribute_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Id_Outcome_NUll</name>
            <conditionLogic>(((1 OR 2 OR 6) AND (3 OR 4 OR 6 )) AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Case_Default_Owner_Assignment_UserList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Profile.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Case_Default_Owner_Assignment_UserList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Username</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Attribute.Default_Queue_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Case_Default_Owner_Assignment_UserList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Owner:User.LastName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_default_Group_Details</targetReference>
            </connector>
            <label>Owner Id Outcome - NUll</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Member_Record_Found_Decision</name>
        <label>Group Member Record Found - Decision</label>
        <locationX>3350</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_ChangeCurrentOwnerCurrentOwnerGroup_ChangeOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Group_Member_Record_Found_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Group_Member_if_current_user_is_part_of_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Owner_from_Group_to_Current_User</targetReference>
            </connector>
            <label>Group Member Record Found - Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Open_Case_Found_Decision</name>
        <label>Previous Open Case Found Decision</label>
        <locationX>2030</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_RepeatedEmailToCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Previous_Open_Case_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Open_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_Id_To_Current_Case</targetReference>
            </connector>
            <label>Check Previous Open Case Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fv_Current_Owner_Queue</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!$Label.Case_Queue_Owner_Not_Change}, {!$Record.Owner:Group.Name})</expression>
    </formulas>
    <formulas>
        <name>fv_Customer_Mobile_Number</name>
        <dataType>String</dataType>
        <expression>if(ISBLANK({!$Record.Account.Phone}),{!$Record.Customer_Mobile_No__c},{!$Record.Account.Phone})</expression>
    </formulas>
    <formulas>
        <name>fv_FTR_Date_Time</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISNULL({!$Record.FTR_Closed_Date_Time__c}),{!$Flow.CurrentDateTime} , {!$Record.FTR_Closed_Date_Time__c})</expression>
    </formulas>
    <formulas>
        <name>fv_Updated_Case_ChatHIstory</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime}) + &quot;   [&quot; + {!$User.FirstName} + &quot; &quot; + {!$User.LastName} + &quot;] - &quot; + {!$Record.Comments}  &amp;BR()+&quot;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&quot; + {!$Record.Comment_History__c}</expression>
    </formulas>
    <interviewLabel>F Case Before InsertUpdate Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F Case Before InsertUpdate Sync</label>
    <loops>
        <name>Loop_Current_User_Associated_Public_Group</name>
        <label>Loop Current User Associated Public Group</label>
        <locationX>3350</locationX>
        <locationY>503</locationY>
        <collectionReference>Get_Current_User_Associated_Public_Groups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Current_User_Associated_Public_Group_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Group_Member_if_current_user_is_part_of_Group</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Discard_Mail_ID</name>
        <label>Loop Discard Mail ID</label>
        <locationX>1634</locationX>
        <locationY>503</locationY>
        <collectionReference>Get_EmailToCase_Discarded_Mail_ID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Case_Supplied_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_mdv_EmailToCaseDiscardMailId</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Attribute</name>
        <label>Get Case Attribute</label>
        <locationX>2624</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Process_Attribute_to_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Sub_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sub_Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Product_Interested__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Process_Attribute__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_RecordType</name>
        <label>Get Case RecordType</label>
        <locationX>2624</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_RecordType_To_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Attribute.Sobject_RecordType_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Attribute.Object_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_User_Associated_Public_Groups</name>
        <label>Get Current User Associated Public Groups</label>
        <locationX>3350</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Current_User_Associated_Public_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_default_Group_Details</name>
        <label>Get default Group Details</label>
        <locationX>2470</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Group_details_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Attribute.Default_Queue_Owner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EmailToCase_Discarded_Mail_ID</name>
        <label>Get EmailToCase Discarded Mail ID</label>
        <locationX>1634</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Discard_Mail_ID</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailToCaseDiscardedMailID__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Member_if_current_user_is_part_of_Group</name>
        <label>Get Group Member if current user is part of Group</label>
        <locationX>3350</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Member_Record_Found_Decision</targetReference>
        </connector>
        <filterLogic>1 AND (2 or 3)</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>In</operator>
            <value>
                <elementReference>cv_CurrentUserAssociatedPublicGroupIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Open_Case</name>
        <label>Get Previous Open Case</label>
        <locationX>2030</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Open_Case_Found_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SuppliedEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1860</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Main_Decision</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>cv_CurrentUserAssociatedPublicGroupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mdv_Assign_Process_Attribute_Id</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_ChangeCurrentOwnerCurrentOwnerGroup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_CommentNotNullOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_EmailToCaseDiscardMailId</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_firstCaseOwner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_FirstIndividualOwnerOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_LatestOwnerDateTIme</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_PolulateCustomerDetails</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_ReOpenedCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_RepeatedEmailToCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_TaskCreation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>v_case_record_updated_inside_flow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
