force-app/main/default/flows/F_Case_After_InsertUpdate_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>TaskCreationFromPAD</name>
        <label>TaskCreationFromPAD</label>
        <locationX>930</locationX>
        <locationY>431</locationY>
        <actionName>TaskCreationFromPAD</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_mdv_TaskCreation</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inp_record</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inp_record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TaskCreationFromPAD</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Child_Case_Property</name>
        <label>Assign Child Case Property</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>rv_ChildCase.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_ChildCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_ChildCase.Financial_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Financial_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_ChildCase.Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Re-Opened Cases</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_ChildCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_ChildCaseOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_ChildCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Re-Opened:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_ChildCase.Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_ChildCase.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_ChildCase.Case_Opened_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case_Opened_Count__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_ChildCase.Case_Opened_Count__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Child_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Child_Case_Source_Id</name>
        <label>Assign Child Case Source Id</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>rv_ChildCase.SourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_Emailmessage.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Child_case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Message_Record</name>
        <label>Assign Email Message Record</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>rv_Emailmessage.FromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EmailMessage_Record.FromAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Emailmessage.Headers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EmailMessage_Record.Headers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Emailmessage.HtmlBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EmailMessage_Record.HtmlBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Emailmessage.MessageIdentifier</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Emailmessage.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_ChildCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Emailmessage.ReplyToEmailMessageId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EmailMessage_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Emailmessage.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EmailMessage_Record.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Emailmessage.TextBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EmailMessage_Record.TextBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Emailmessage.ThreadIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EmailMessage_Record.ThreadIdentifier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Emailmessage.ToAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EmailMessage_Record.ToAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Emailmessage.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EmailMessage_Record.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Emailmessage.Incoming</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EmailMessage_Record.Incoming</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Emailmessage.CcAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EmailMessage_Record.CcAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_EmailMessage_for_Child_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_CreateNewChildCase</name>
        <label>Assign mdv_CreateNewChildCase</label>
        <locationX>182</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>mdv_CreateNewChildCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Case_Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_ParentCaseClosed</name>
        <label>Assign mdv_ParentCaseClosed</label>
        <locationX>622</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>mdv_ParentCaseClosed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Case_Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_TaskCreation</name>
        <label>Assign mdv_TaskCreation</label>
        <locationX>930</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>mdv_TaskCreation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Case_Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_owner</name>
        <label>Assign owner</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>v_ChildCaseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Case_History.OldValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Child_Case_Property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Case_Status</name>
        <label>Assign Parent Case Status</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>rv_UpdateParentCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_UpdateParentCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Case_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>The main controller for all case related trigger</description>
        <name>Case_Main_Decision</name>
        <label>Case Main Decision</label>
        <locationX>688</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Case_status_ReOpened_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-Opened</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_CreateNewChildCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_History</targetReference>
            </connector>
            <label>Check Case status ReOpened -Outcome</label>
        </rules>
        <rules>
            <name>Check_Case_status_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Case_Status_Closed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_ParentCaseClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_s_All_Child_Case_Record_If_any</targetReference>
            </connector>
            <label>Check Case status Outcome</label>
        </rules>
        <rules>
            <name>Check_for_Task_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Attribute__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Attribute__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Process_Attribute__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_TaskCreation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskCreationFromPAD</targetReference>
            </connector>
            <label>Check for Task Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CaseHistory_Record</name>
        <label>Check CaseHistory Record</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Assign_Child_Case_Property</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outome_CaseHistory_Record_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Case_History</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_owner</targetReference>
            </connector>
            <label>Outome CaseHistory Record Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_EmailMessage_Has_Record</name>
        <label>Check Get EmailMessage Has Record</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_CreateNewChildCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Get_EmailMessage_Record_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_EmailMessage_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_Message_Record</targetReference>
            </connector>
            <label>Outcome Get EmailMessage Record Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Other_Open_Child_Cases</name>
        <label>Check Other Open Child Cases</label>
        <locationX>622</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Case_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Open_Child_Case_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_s_All_Child_Case_Record_If_any</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_Case_Status</targetReference>
            </connector>
            <label>Other Open Child Case Outcome</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>F Case After InsertUpdate Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F Case After InsertUpdate Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Child_Case</name>
        <label>Create Child Case</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Get_EmailMessage_Record</targetReference>
        </connector>
        <inputReference>rv_ChildCase</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_EmailMessage_for_Child_Case</name>
        <label>Create EmailMessage for Child Case</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>Assign_Child_Case_Source_Id</targetReference>
        </connector>
        <inputReference>rv_Emailmessage</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_EmailMessage_Record</name>
        <label>Get EmailMessage Record</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_EmailMessage_Has_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_s_All_Child_Case_Record_If_any</name>
        <label>Get Parent&apos;s All Child Case Record If any</label>
        <locationX>622</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Other_Open_Child_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Case_History</name>
        <label>Get Related Case History</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_CaseHistory_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Field</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Owner</stringValue>
            </value>
        </filters>
        <filters>
            <field>DataType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EntityId</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseHistory</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_case_Record</name>
        <label>Update Child case Record</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Assign_mdv_CreateNewChildCase</targetReference>
        </connector>
        <inputReference>rv_ChildCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Case_Record</name>
        <label>Update Parent Case Record</label>
        <locationX>622</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Assign_mdv_ParentCaseClosed</targetReference>
        </connector>
        <inputReference>rv_UpdateParentCase</inputReference>
    </recordUpdates>
    <start>
        <locationX>562</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Main_Decision</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>mdv_CreateNewChildCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_Parent_Update_Not_Allowed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_ParentCaseClosed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_TaskCreation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>rv_ChildCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>rv_ChildCasesforReOpenedCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>rv_Emailmessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>rv_Openchildcasecount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>rv_UpdateParentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>temp_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>temp_var2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_ChildCaseOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.OwnerId</elementReference>
        </value>
    </variables>
    <variables>
        <name>v_ClosedChildCaseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>v_NumberOfChildCase</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
