force-app/main/default/flows/F_contact_before_insert_Update_sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Masked_Fields</name>
        <label>Assign Masked Fields</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Masked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_MaskedEmailField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Masked_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_MaskedPhoneField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Mobile_Masked__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mdv_FillingContactMaskedFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Masked_Mailing_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_MaskedMailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Masked_Mailing_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_MaskedMailingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Masked_Mailing_PostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_MaskedMailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_MaskedMailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Masked_Mailing_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_MaskedMailingStreet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Contact_Main_Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Main_Decision</name>
        <label>Contact Main Decision</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Contact_Outcome_Exist</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 8 OR 9) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_FillingContactMaskedFields</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingAddress</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Masked_Fields</targetReference>
            </connector>
            <label>Check Contact Outcome - Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fv_MaskedEmailField</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Email})), {!$Record.Email}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fv_MaskedMailingCity</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.MailingCity})), {!$Record.MailingCity}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fv_MaskedMailingCountry</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.MailingCountry})), {!$Record.MailingCountry}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fv_MaskedMailingPostalCode</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.MailingPostalCode})), {!$Record.MailingPostalCode}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fv_MaskedMailingState</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.MailingState})), {!$Record.MailingState}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fv_MaskedMailingStreet</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.MailingStreet})), {!$Record.MailingStreet}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fv_MaskedMobilePhoneField</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.MobilePhone})), {!$Record.MobilePhone}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fv_MaskedPhoneField</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Phone})), {!$Record.Phone}, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>F contact before insert/Update sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F contact before insert/Update sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_Main_Decision</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>mdv_FillingContactMaskedFields</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
