force-app/main/default/flows/F_DocumentHandler_Before_InsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Current_Task_Id</name>
        <label>Assign Current Task Id</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Current_Task_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Task_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_TaggingCurrentTaskIdWhentheDocumentisCreated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Document_to_Account_and_Opportunity</name>
        <label>Assign Document to Account and Opportunity</label>
        <locationX>842</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_Tagging_Document_to_Account_and_PA_Object_Type_Outcome</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_Tagging_Document_to_Account_and_PA_Object_Type_Outcome</name>
        <label>Assign mdv_Tagging_Document_to_Account_and_PA_Object_Type_Outcome</label>
        <locationX>1128</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>mdv_Tagging_Document_to_Account_and_PA_Object_Type_Outcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_TaggingCurrentTaskIdWhentheDocumentisCreated</name>
        <label>Assign mdv_TaggingCurrentTaskIdWhentheDocumentisCreated</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>mdv_TaggingCurrentTaskIdWhentheDocumentisCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_TaggingRecordName</name>
        <label>Assign mdv_TaggingRecordName</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>mdv_TaggingRecordName</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Name</name>
        <label>Assign Record Name</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_TaggingRecordName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_TaggingRecordName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Sharing_Id</name>
        <label>Assign Task Sharing Id</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Document_Sharing_Task_Ids__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Current_Task_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Document_Sharing_Task_Ids__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assing_mdv_UpdateTaskSharingId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_mdv_UpdateTaskSharingId</name>
        <label>Assing mdv_UpdateTaskSharingId</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>mdv_UpdateTaskSharingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Get_Task_Details_Exists</name>
        <label>Check Get Task Details Exists</label>
        <locationX>1128</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_Tagging_Document_to_Account_and_PA_Object_Type_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Get_Task_Details_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_PA_Object_Type_from_Get_Task_Details</targetReference>
            </connector>
            <label>Outcome Get Task Details Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PA_Object_Type_from_Get_Task_Details</name>
        <label>Check PA Object Type from Get Task Details</label>
        <locationX>974</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_Tagging_Document_to_Account_and_PA_Object_Type_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Opportunity_PA_Object_Type_from_Get_Task_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Details.Process_Attribute_Object_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task_Details.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Details</targetReference>
            </connector>
            <label>Outcome Opportunity - PA Object Type from Get Task Details</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Decision</name>
        <label>Main Decision</label>
        <locationX>754</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tagging_Record_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mdv_TaggingRecordName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>fv_TaggingRecordName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record_Name</targetReference>
            </connector>
            <label>Tagging Record Name</label>
        </rules>
        <rules>
            <name>Tagging_Current_Task_Id_When_the_Document_is_Created</name>
            <conditionLogic>1 AND ( 2 or 3)</conditionLogic>
            <conditions>
                <leftValueReference>mdv_TaggingCurrentTaskIdWhentheDocumentisCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Task_Id__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Task_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Task_Id</targetReference>
            </connector>
            <label>Tagging Current Task Id When the Document is Created</label>
        </rules>
        <rules>
            <name>Update_Task_Sharing_Id</name>
            <conditionLogic>3 AND (NOT 4) AND 5 AND ( (1 AND 2) OR (6))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Document_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Created__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_UpdateTaskSharingId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Sharing_Task_Ids__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Current_Task_ID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Task_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Task_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Current_Task_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Sharing_Id</targetReference>
            </connector>
            <label>Update Task Sharing Id</label>
        </rules>
        <rules>
            <name>Tagging_Document_To_Account_and_PA_Object_Type_Outcome</name>
            <conditionLogic>4 and 1 and (2 or 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Task_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_Tagging_Document_to_Account_and_PA_Object_Type_Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task_Details</targetReference>
            </connector>
            <label>Tagging Document to Account and PA Object Type Outcome</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fv_TaggingRecordName</name>
        <dataType>String</dataType>
        <expression>left({!$Record.Document_Metadata__r.Document_Name__c} + &apos;-&apos; + {!$Record.Process_Attribute_Dcoument_Detail__r.Process_Path_Task_Detail__r.Name},80)</expression>
    </formulas>
    <interviewLabel>F DocumentHandler Before InsertUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F DocumentHandler Before InsertUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Details</name>
        <label>Get Opportunity Details</label>
        <locationX>842</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Document_to_Account_and_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_Details.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Details</name>
        <label>Get Task Details</label>
        <locationX>1128</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Task_Details_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Task_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process_Attribute_Object_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>628</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Main_Decision</targetReference>
        </connector>
        <object>Document_Handler__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>mdv_Tagging_Document_to_Account_and_PA_Object_Type_Outcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_TaggingCurrentTaskIdWhentheDocumentisCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_TaggingRecordName</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_UpdateTaskSharingId</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
