force-app/main/default/flows/F_DocumentHandler_After_Insert_LAP_processing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Document_Handler_Associate_Object_Details</name>
        <label>Assign Document Handler Associate Object Details</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Financial_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Extended_SObject_RecordId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Financial_Account__r.Account_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Financial_Account__r.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Start_Task_of_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Document_Handler_History</name>
        <label>Assign Document Handler History</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>rv_DocumentHandlerHistory.Document_Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DMS_Document_Path__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_DocumentHandlerHistory.Document_Handler__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_DocumentHandlerHistory.DMS_System_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sharepoint</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_DocumentHandlerHistory.task_id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Start_Task_of_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Document_Handler_History</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Document_Handler_Task_Details</name>
        <label>Assign Document Handler Task Details</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.Task_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Start_Task_of_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Transfer_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Financial_Account__r.Originating_Branch__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Process_Attribute_Dcoument_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Process_Attribute_Document_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Document_Sharing_Task_Ids__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Start_Task_of_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Document_Sharing_Task_Ids__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Physical_Document_Mandatory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_physicaldocumentmandatoryvalue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Upload_Mandatory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_documentuploadmanadatory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Current_Task_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Start_Task_of_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Document_Sharing_Task_Ids__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Start_Task_of_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Document_Sharing_Task_Ids__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Id_Not_Available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Document_Status</name>
        <label>Assign Document Status</label>
        <locationX>270</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Task Available</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Document_Handler_Associate_Object_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Document_Handler_History</name>
        <label>Copy 1 of Assign Document Handler History</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Get_Document_Handler.task_id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_Start_Task_of_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Document_Handler_History</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Document_Handler_Task_Details</name>
        <label>Copy 1 of Assign Document Handler Task Details</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.Task_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_Start_Task_of_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Process_Attribute_Dcoument_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_Process_Attribute_Document_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Document_Sharing_Task_Ids__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_Start_Task_of_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Document_Sharing_Task_Ids__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Current_Task_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_Start_Task_of_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Document_Sharing_Task_Ids__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_Start_Task_of_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Document_Sharing_Task_Ids__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_triggering_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Records_From_Document_Handler_ToBe_Deleted_Exists</name>
        <label>Check Records From Document Handler ToBe Deleted Exists</label>
        <locationX>182</locationX>
        <locationY>1595</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Records_From_Document_Handler_ToBe_Deleted_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_From_Document_Handler_ToBe_Deleted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Records_From_Document_Handler_ToBe_Deleted</targetReference>
            </connector>
            <label>Outcome Records From Document Handler ToBe Deleted Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Status</name>
        <label>Check the Status</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Start_Task_of_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Document_Handler_Associate_Object_Details</targetReference>
            </connector>
            <label>Status is Received</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Task_Id_Available</name>
        <label>Copy 1 of Check Task Id Available</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Task_Id_Available_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Start_Task_of_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Document_Handler_Task_Details</targetReference>
            </connector>
            <label>Copy 1 of Task Id Available Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Id_Not_Available</name>
        <label>Check Task Id Available</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Assign_Document_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Id_Available_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Start_Task_of_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Document_Handler_Associate_Object_Details</targetReference>
            </connector>
            <label>Task Id Available Outcome</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fv_documentuploadmanadatory</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Get_Process_Attribute_Document_Details.Upload_Mandatory__c},{!Get_Process_Attribute_Document_Details.Upload_Mandatory__c}, false )</expression>
    </formulas>
    <formulas>
        <name>fv_physicaldocumentmandatoryvalue</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Get_Process_Attribute_Document_Details.Physical_Document_Mandatory__c}, {!Get_Process_Attribute_Document_Details.Physical_Document_Mandatory__c}, false)</expression>
    </formulas>
    <interviewLabel>F DocumentHandler After Insert LAP processing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F DocumentHandler After Insert LAP processing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Document_Handler_History</name>
        <label>Create Document Handler History</label>
        <locationX>182</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>Get_Records_From_Document_Handler_ToBe_Deleted</targetReference>
        </connector>
        <inputReference>rv_DocumentHandlerHistory</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Records_From_Document_Handler_ToBe_Deleted</name>
        <label>Delete Records From Document Handler ToBe Deleted</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <inputReference>Get_Records_From_Document_Handler_ToBe_Deleted</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Copy_1_of_Get_Process_Attribute_Document_Details</name>
        <label>Copy 1 of Get Process Attribute Document Details</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Check_Task_Id_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Document_Metadata__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Document_Metadata__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process_Path_Task_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Start_Task_of_Opportunity.Process_Path_Task_Detail__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Process_Attribute_Dcoument_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Start_Task_of_Opportunity</name>
        <label>Copy 1 of Get Start Task of Opportunity</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_Process_Attribute_Document_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Financial_Account__r.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OTC Document Collection</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Handler</name>
        <label>Get Document Handler</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Document_Handler_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Document_Handler__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>File_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Document_Handler_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Attribute_Document_Details</name>
        <label>Get Process Attribute Document Details</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Document_Handler_Task_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Document_Metadata__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Document_Metadata__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process_Path_Task_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Start_Task_of_Opportunity.Process_Path_Task_Detail__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Process_Attribute_Dcoument_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_From_Document_Handler_ToBe_Deleted</name>
        <label>Get Records From Document Handler ToBe Deleted</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Records_From_Document_Handler_ToBe_Deleted_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Task_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process_Attribute_Dcoument_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Process_Attribute_Dcoument_Detail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Task_Status_Draft</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Document_Handler__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Start_Task_of_Opportunity</name>
        <label>Get Start Task of Opportunity</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Process_Attribute_Document_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Financial_Account__r.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OTC Document Collection</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Document_Handler_Associate_Object_Details</name>
        <label>Update Document Handler Associate Object Details</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Assign_Document_Handler_History</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Document_Handler_History</name>
        <label>Update Document Handler History</label>
        <locationX>578</locationX>
        <locationY>1187</locationY>
        <inputReference>Get_Document_Handler</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_triggering_Record</name>
        <label>Update triggering Record</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Get_Document_Handler</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_the_Status</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>DMS_Document_Path__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Extended_SObject_RecordId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Task_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No Task Available</stringValue>
            </value>
        </filters>
        <object>Document_Handler__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>rv_DocumentHandlerHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document_Handler_History__c</objectType>
    </variables>
</Flow>
