force-app/main/default/flows/F_EmailToCase_Discarded_Mail_ID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Case_Attribute_Values</name>
        <label>Assign Case Attribute Values</label>
        <locationX>396</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>rv_Case_io.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discard_Maild_ID.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Case_io.Sub_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discard_Maild_ID.Sub_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Case_io.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discard_Maild_ID.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Case_io.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Discard_Maild_ID.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Case_io.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Discard_Maild_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_v_case_record_updated_inside_flow_io</name>
        <label>Assign v_case_record_updated_inside_flow_io</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>v_case_record_updated_inside_flow_io</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Attribute_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_the_Master_Flow_Variables</name>
        <label>Assignment of the Master Flow Variables</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>rv_Flow_Decision_Path_Variables_io.EmailToCase_Discarded_Mail_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Case_Supplied_Email</name>
        <label>Check Case Supplied Email</label>
        <locationX>550</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Loop_Discard_Maild_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discarded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Discard_Maild_ID.Email_IDs__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>rv_Case_io.SuppliedEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Existing_Value_v_case_record_updated_inside_flow_io</targetReference>
            </connector>
            <label>Discarded Email Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Existing_Value_v_case_record_updated_inside_flow_io</name>
        <label>Check Existing Value v_case_record_updated_inside_flow_io</label>
        <locationX>396</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assign_Case_Attribute_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>v_case_record_updated_inside_flow_io_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_case_record_updated_inside_flow_io</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>v_case_record_updated_inside_flow_io</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_v_case_record_updated_inside_flow_io</targetReference>
            </connector>
            <label>v_case_record_updated_inside_flow_io_outcome</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>F {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F EmailToCase Discarded Mail ID</label>
    <loops>
        <name>Loop_Discard_Maild_ID</name>
        <label>Loop Discard Mail ID</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_EmailToCase_Discarded_Mail_ID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Case_Supplied_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignment_of_the_Master_Flow_Variables</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_EmailToCase_Discarded_Mail_ID</name>
        <label>Get EmailToCase Discarded Mail ID</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Discard_Maild_ID</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailToCaseDiscardedMailID__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_EmailToCase_Discarded_Mail_ID</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>rv_Case_io</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>rv_Flow_Decision_Path_Variables_io</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Flow_Decision_Path_Variables__c</objectType>
    </variables>
    <variables>
        <name>v_case_record_updated_inside_flow_io</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
