force-app/main/default/flows/F_Financial_Entity_Before_InsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_mdv_OutcomePopulateName</name>
        <label>Assign mdv_OutcomePopulateName</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>mdv_OutcomePopulateRecordName</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Name</name>
        <label>Assign Record Name</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Name__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_OutcomePopulateName</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Main_Decision</name>
        <label>Main Decision</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Populate_Record_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account_Name__r.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Name__r.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_OutcomePopulateRecordName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record_Name</targetReference>
            </connector>
            <label>Outcome Populate Record Name</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>F Financial_Entity Before InsertUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F Financial_Entity Before InsertUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Main_Decision</targetReference>
        </connector>
        <object>Financial_Entity__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>mdv_OutcomePopulateRecordName</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
