force-app/main/default/flows/F_Lead_Before_InsertUpdate_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Lead_Masked_PII_data</name>
        <label>Assign Lead Masked PII data</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Masked_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_MaskedEmailfield</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Masked_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_maskedPhonefield</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Masked_Address_Line_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_MaskedAddressLine1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Masked_Address_Line_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_MaskedAddressLine2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mdv_FillingmaskedFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Lead_Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Process_Attribute_To_Lead</name>
        <label>Assign Process Attribute To Lead</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Attribute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Attribute.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mdv_assignprocessAttribute</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Lead_Main_Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Lead_Main_Decision</name>
        <label>Lead Main Decision</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Assign_Masked_Field</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Address</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Address</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_FillingmaskedFields</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Masked_PII_data</targetReference>
            </connector>
            <label>Check Assign Masked Field</label>
        </rules>
        <rules>
            <name>Check_Assign_Process_Attribute_ID_Outcome</name>
            <conditionLogic>1 AND 3 AND 5 AND (4 OR 2 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Attribute__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Interested__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Interested__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_assignprocessAttribute</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Attribute</targetReference>
            </connector>
            <label>Check Assign Process Attribute ID Outcome</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fv_MaskedAddressLine1</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Street})), {!$Record.Street}, &apos;&apos;) +&apos; &apos; + IF(NOT(ISBLANK({!$Record.City})), {!$Record.City}, &apos;&apos;) + &apos; &apos; + IF(NOT(ISBLANK({!$Record.State})), {!$Record.State}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fv_MaskedAddressLine2</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Country})), {!$Record.Country} , &apos;&apos;) + &apos; &apos; +  IF(NOT(ISBLANK({!$Record.PostalCode})),  {!$Record.PostalCode} , &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fv_MaskedEmailfield</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Email})), {!$Record.Email}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>fv_maskedPhonefield</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Phone})), {!$Record.Phone}, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>F Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F Lead Before InsertUpdate Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead_Attribute</name>
        <label>Get Lead Attribute</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lead_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead_Product_Interested__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Interested__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Process_Attribute__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_RecordType</name>
        <label>Get Lead RecordType</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Process_Attribute_To_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead_Attribute.Sobject_RecordType_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lead_Main_Decision</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>mdv_assignprocessAttribute</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_FillingmaskedFields</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
