force-app/main/default/flows/F_MODT_After_InsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_mdv_CreateDocumentHandler</name>
        <label>Assign mdv_CreateDocumentHandler</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>mdv_CreateDocumentHandler</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Document_Handler_Record</name>
        <label>Assign New Document Handler Record</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>rv_DocumentHandler.Document_Metadata__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Process_Attribute_Document_Detail.Document_Metadata__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_DocumentHandler.Physical_Document_Mandatory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Process_Attribute_Document_Detail.Physical_Document_Mandatory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_DocumentHandler.Upload_Mandatory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Process_Attribute_Document_Detail.Upload_Mandatory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_DocumentHandler.Task_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Task_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_DocumentHandler.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Process_Attribute_Document_Detail.Document_Metadata__r.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_DocumentHandler.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_DocumentHandler.Process_Attribute_Dcoument_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Process_Attribute_Document_Detail.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_DocumentHandler.Document_SLA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_DocumentSLA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_DocumentHandler.Extended_SObject_RecordId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_DocumentHandler.MODT_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_DocumentHandler.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mortgager_Name__r.Account_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_DocumentHandler.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Financial_Account__r.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_DocumentHandler.Financial_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Financial_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cv_DocumentHandler_Insert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rv_DocumentHandler</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Document_Handler</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_PPTDD_Has_Records</name>
        <label>Decision PPTDD Has Records</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_CreateDocumentHandler</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_PPTDD_Has_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Process_Attribute_Document_Detail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Document_Handler</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Document_Handler_Record</targetReference>
            </connector>
            <label>Outcome PPTDD Has Records</label>
        </rules>
    </decisions>
    <decisions>
        <description>This is to create document handler records as soon as records get created</description>
        <name>Main_Decision</name>
        <label>Main Decision</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Document_Handler_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mdv_CreateDocumentHandler</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task_Details</targetReference>
            </connector>
            <label>Create Document Handler Outcome</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fv_DocumentSLA</name>
        <dataType>Date</dataType>
        <expression>TODAY() + {!Get_Process_Attribute_Document_Detail.Document_SLA__c}</expression>
    </formulas>
    <interviewLabel>F MODT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F MODT After InsertUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Document_Handler</name>
        <label>Create Document Handler</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Assign_mdv_CreateDocumentHandler</targetReference>
        </connector>
        <inputReference>cv_DocumentHandler_Insert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Document_Handler</name>
        <label>Get Existing Document Handler</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_PPTDD_Has_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Extended_SObject_RecordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process_Attribute_Dcoument_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Process_Attribute_Document_Detail.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Document_Handler__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Attribute_Document_Detail</name>
        <label>Get Process Attribute Document Detail</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Document_Handler</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_To_sObject__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>MODT_Details__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Process_Path_Task_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_Details.Process_Path_Task_Detail__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Process_Attribute_Dcoument_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Details</name>
        <label>Get Task Details</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Process_Attribute_Document_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Task_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Main_Decision</targetReference>
        </connector>
        <object>MODT_Details__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>cv_DocumentHandler_Insert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document_Handler__c</objectType>
    </variables>
    <variables>
        <name>mdv_CreateDocumentHandler</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>rv_DocumentHandler</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document_Handler__c</objectType>
    </variables>
</Flow>
