force-app/main/default/flows/F_Opportunity_Before_InsertUpdate_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Current_Stage_DateTime</name>
        <label>Assign Current Stage DateTime</label>
        <locationX>1282</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Current_Stage_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_markOppCurrentStage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Values_opp</name>
        <label>Assign Default Values opp</label>
        <locationX>1018</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Customer_Mobile_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_checkdefaultvalue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_checkdefaultvalue</name>
        <label>Assign mdv_checkdefaultvalue</label>
        <locationX>1018</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>mdv_checkdefaultvalues</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Opportunity_Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_markOppCurrentStage</name>
        <label>Assign mdv_markOppCurrentStage</label>
        <locationX>1282</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>mdv_markOppCurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Opportunity_Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_PAandOwner</name>
        <label>Assign mdv_PAandOwner</label>
        <locationX>671</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>mdv_assignPAandOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Opportunity_Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Owner</name>
        <label>Assign Opportunity Owner</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Group_Member_Details.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_PAandOwner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Process_Attribute_to_Opportuntiy</name>
        <label>Assign Process Attribute to Opportuntiy</label>
        <locationX>501</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Attribute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Attribute.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_RecordTYpeId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Opportunity_PA_Default_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Group_Exist_Or_NOt</name>
        <label>Check Group Exist Or NOt</label>
        <locationX>336</locationX>
        <locationY>1043</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_PAandOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Group_Outcome_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Group_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Member_Details</targetReference>
            </connector>
            <label>Group Outcome - Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Group_Member_Exist_or_Not</name>
        <label>Check Group Member Exist or Not</label>
        <locationX>182</locationX>
        <locationY>1259</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_PAandOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Group_Member_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Group_Member_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_Owner</targetReference>
            </connector>
            <label>Group Member Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_Owner_Email</name>
        <label>Check Opportunity Owner Email</label>
        <locationX>671</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_PAandOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Owner_Email_Outcome</name>
            <conditionLogic>((1 AND 2) OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Label.EL_Opp_Default_Owner_Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Owner.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Education Loan Application</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Education Loan Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Process_Attribute_to_Opportuntiy</targetReference>
            </connector>
            <label>Opportunity Owner Email - Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_PA_Default_Owner</name>
        <label>Check Opportunity PA Default Owner</label>
        <locationX>501</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_PAandOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Default_Owner_Output_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Attribute.Default_Queue_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Details</targetReference>
            </connector>
            <label>Default Owner Output - Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>The main controller for all opportunity related trigger</description>
        <name>Opportunity_Main_Decision</name>
        <label>Opportunity Main Decision</label>
        <locationX>1108</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Assign_Process_Attribute_ID_Outcome</name>
            <conditionLogic>((1 AND 2  ) or 3)  AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Attribute__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_assignPAandOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Attribute</targetReference>
            </connector>
            <label>Check Assign Process Attribute ID Outcome</label>
        </rules>
        <rules>
            <name>Check_Default_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Customer_Mobile_No__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_checkdefaultvalues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Values_opp</targetReference>
            </connector>
            <label>Check  Default Values</label>
        </rules>
        <rules>
            <name>Check_Opportunity_Stage_Change</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_markOppCurrentStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Stage_DateTime</targetReference>
            </connector>
            <label>Check Opportunity Stage Change</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>F Opportunity Before InsertUpdate Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F Opportunity Before InsertUpdate Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Group_Details</name>
        <label>Get Group Details</label>
        <locationX>336</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Group_Exist_Or_NOt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Attribute.Default_Queue_Owner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Member_Details</name>
        <label>Get Group Member Details</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Group_Member_Exist_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Group_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Attribute</name>
        <label>Get Opportunity Attribute</label>
        <locationX>671</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_RecordTYpeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Process_Attribute__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_RecordTYpeId</name>
        <label>Get Opportunity RecordTYpeId</label>
        <locationX>671</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_Owner_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Attribute.Sobject_RecordType_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Attribute.Object_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>982</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Main_Decision</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>mdv_assignPAandOwner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_checkdefaultvalues</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_markOppCurrentStage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
