force-app/main/default/flows/F_Opportunity_After_InsertUpdate_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>TaskCreationFromPAD</name>
        <label>TaskCreationFromPAD</label>
        <locationX>666</locationX>
        <locationY>431</locationY>
        <actionName>TaskCreationFromPAD</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_mdv_TaskCreation</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inp_record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inp_record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TaskCreationFromPAD</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TaskCreationNew2</name>
        <label>TaskCreationNew2</label>
        <locationX>930</locationX>
        <locationY>431</locationY>
        <actionName>TaskCreationNew2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_mdv_TaskCreation</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inp_sObject</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inp_sObject</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TaskCreationNew2</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_lv_Get_Open_Tasks_owner_by_previous_opportunity_owner</name>
        <label>Assign lv Get Open Tasks  owner by previous opportunity owner</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Loop_Get_Open_Tasks_owner_by_previous_opportunity_owner.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_Open_Tasks_owner_by_previous_opportunity_owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_OppTaskOwnerChange</name>
        <label>Assign mdv_OppTaskOwnerChange</label>
        <locationX>402</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>mdv_OppTaskOwnerChange</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Opportunity_Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_OppTaskStatusChange</name>
        <label>Assign mdv_OppTaskStatusChange</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>mdv_OppTaskStatusChange</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Opportunity_Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_TaskCreation</name>
        <label>Assign mdv_TaskCreation</label>
        <locationX>622</locationX>
        <locationY>1205</locationY>
        <assignmentItems>
            <assignToReference>mdv_TaskCreation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Opportunity_Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Status</name>
        <label>Assign Task Status</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Loop_Get_Opportunity_Open_Tasks.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>System Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_Opportunity_Open_Tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>The main controller for all case related trigger</description>
        <name>Opportunity_Main_Decision</name>
        <label>Opportunity Main Decision</label>
        <locationX>622</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Previous_Task_Closure_on_Stage_SubStatus_Change</name>
            <conditionLogic>((1 AND 2)   OR (5 AND 6) OR (7 AND 8)) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Attribute__r.Close_Previous_Task__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_OppTaskStatusChange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubStatus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Open_Tasks</targetReference>
            </connector>
            <label>Check for Previous Task Closure on Stage/SubStatus Change</label>
        </rules>
        <rules>
            <name>Check_Opportunity_Owner_change_to_update_the_open_task_ownership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_OppTaskOwnerChange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Open_Tasks_owner_by_previous_opportunity_owner</targetReference>
            </connector>
            <label>Check Opportunity Owner change to update the open task ownership</label>
        </rules>
        <rules>
            <name>Check_for_Task_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Attribute__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Attribute__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Process_Attribute__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_TaskCreation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Attribute__r.Process_Path__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Attribute__r.Process_Attribute_Path_Deviation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskCreationFromPAD</targetReference>
            </connector>
            <label>Check for Task Creation</label>
        </rules>
        <rules>
            <name>Check_for_Task_Creation_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Attribute__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Process_Attribute__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Process_Attribute__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_TaskCreation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Attribute__r.Process_Attribute_Path_Deviation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskCreationNew2</targetReference>
            </connector>
            <label>Check for Task Creation - Path</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>F Opportunity After InsertUpdate Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F Opportunity After InsertUpdate Sync</label>
    <loops>
        <name>Loop_Get_Open_Tasks_owner_by_previous_opportunity_owner</name>
        <label>Loop Get Open Tasks  owner by previous opportunity owner</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Open_Tasks_owner_by_previous_opportunity_owner</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_lv_Get_Open_Tasks_owner_by_previous_opportunity_owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Get_Open_Tasks_owner_by_previous_opportunity_owner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Get_Opportunity_Open_Tasks</name>
        <label>Loop Get Opportunity Open Tasks</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Opportunity_Open_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Task_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Get_Opportunity_Open_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Open_Tasks_owner_by_previous_opportunity_owner</name>
        <label>Get Open Tasks  owner by previous opportunity owner</label>
        <locationX>402</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Get_Open_Tasks_owner_by_previous_opportunity_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Open_Tasks</name>
        <label>Get Opportunity Open Tasks</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Get_Opportunity_Open_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Get_Open_Tasks_owner_by_previous_opportunity_owner</name>
        <label>Update Get Open Tasks  owner by previous opportunity owner</label>
        <locationX>402</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Assign_mdv_OppTaskOwnerChange</targetReference>
        </connector>
        <inputReference>Get_Open_Tasks_owner_by_previous_opportunity_owner</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Get_Opportunity_Open_Tasks</name>
        <label>Update Get Opportunity Open Tasks</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Assign_mdv_OppTaskStatusChange</targetReference>
        </connector>
        <inputReference>Get_Opportunity_Open_Tasks</inputReference>
    </recordUpdates>
    <start>
        <locationX>496</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Main_Decision</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>mdv_OppTaskOwnerChange</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_OppTaskStatusChange</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_TaskCreation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>rv_DoOnboardingTrackingReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Do_Onboarding_Tracking_Report__c</objectType>
    </variables>
</Flow>
