force-app/main/default/flows/F_Process_Review_Checklist_FACT_Before_InsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign mdv_CommentHistoryandLastCommentDateOutcome</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>mdv_CommentHistoryandLastCommentDateOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Comment_History_and_Last_Comment_Date</name>
        <label>Assign Comment History and Last Comment Date</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Comment_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_Commnet_History</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Comments</name>
        <label>Assign Comments</label>
        <locationX>754</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iteration_On_Process_Review_Checklist_FACT.Comments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iteration_On_Process_Review_Checklist_FACT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Process_Review_Checklist_FACT_Equals_Exist_OR_Not</name>
        <label>Check Process Review Checklist FACT Equals &amp; Exist OR Not</label>
        <locationX>886</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Iteration_On_Process_Review_Checklist_FACT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Process_Review_Checklist_FACT_Exist_Equals_with_Current_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Review_Checklist_Detail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Review_Checklist_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iteration_On_Process_Review_Checklist_FACT.Process_Review_Checklist_Detail__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Comments</targetReference>
            </connector>
            <label>If Process Review Checklist FACT Exist &amp; Equals with Current Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Decision</name>
        <label>Main Decision</label>
        <locationX>424</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Get_Process_Review_Checklist_FACT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Comment_History_and_Last_Comment_Date_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Comments__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_CommentHistoryandLastCommentDateOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Comment_History_and_Last_Comment_Date</targetReference>
            </connector>
            <label>Update Comment History and Last Comment Date Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_Review_Checklist_Fact_Exist_or_Not</name>
        <label>Process Review Checklist Fact Exist or Not</label>
        <locationX>798</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Process_Review_Checklist_Fact_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Process_Review_Checklist_FACT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iteration_On_Process_Review_Checklist_FACT</targetReference>
            </connector>
            <label>If Process Review Checklist Fact Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fv_Commnet_History</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime}) + &quot;   [&quot; + {!$User.FirstName} + &quot; &quot; + {!$User.LastName} + &quot;] - &quot; + {!$Record.Comments__c}  &amp;BR()+&quot;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&quot; + {!$Record.Comment_History__c}</expression>
    </formulas>
    <interviewLabel>F Process Review Checklist FACT Before InsertUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F Process Review Checklist FACT Before InsertUpdate</label>
    <loops>
        <name>Iteration_On_Process_Review_Checklist_FACT</name>
        <label>Iteration On Process Review Checklist FACT</label>
        <locationX>666</locationX>
        <locationY>611</locationY>
        <collectionReference>Get_Process_Review_Checklist_FACT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Process_Review_Checklist_FACT_Equals_Exist_OR_Not</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Process_Review_Checklist_FACT</name>
        <label>Get Process Review Checklist FACT</label>
        <locationX>798</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Review_Checklist_Fact_Exist_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Task_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Task_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process_Review_Checklist_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Process_Review_Checklist_Detail__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Process_Review_Checklist_FACT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>298</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Main_Decision</targetReference>
        </connector>
        <object>Process_Review_Checklist_FACT__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>mdv_CommentHistoryandLastCommentDateOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
