force-app/main/default/flows/F_Process_Review_Checklist_FACTs_Before_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Comments</name>
        <label>Assign Comments</label>
        <locationX>200</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iteration_On_Process_Review_Checklist_FACT.Comments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iteration_On_Process_Review_Checklist_FACT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Process_Review_Checklist_FACT_Equals_Exist_OR_Not</name>
        <label>Check Process Review Checklist FACT Equals &amp; Exist OR Not</label>
        <locationX>332</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Iteration_On_Process_Review_Checklist_FACT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Process_Review_Checklist_FACT_Exist_Equals_with_Current_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Review_Checklist_Detail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Review_Checklist_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iteration_On_Process_Review_Checklist_FACT.Process_Review_Checklist_Detail__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Comments</targetReference>
            </connector>
            <label>If Process Review Checklist FACT Exist &amp; Equals with Current Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_Review_Checklist_Fact_Exist_or_Not</name>
        <label>Process Review Checklist Fact Exist or Not</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Process_Review_Checklist_Fact_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Process_Review_Checklist_FACT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iteration_On_Process_Review_Checklist_FACT</targetReference>
            </connector>
            <label>If Process Review Checklist Fact Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>F Process Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F Process Review Checklist FACTs Before Insert</label>
    <loops>
        <name>Iteration_On_Process_Review_Checklist_FACT</name>
        <label>Iteration On Process Review Checklist FACT</label>
        <locationX>112</locationX>
        <locationY>503</locationY>
        <collectionReference>Get_Process_Review_Checklist_FACT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Process_Review_Checklist_FACT_Equals_Exist_OR_Not</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Process_Review_Checklist_FACT</name>
        <label>Get Process Review Checklist FACT</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Review_Checklist_Fact_Exist_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Task_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Task_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process_Review_Checklist_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Process_Review_Checklist_Detail__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Process_Review_Checklist_FACT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Process_Review_Checklist_FACT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Task_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Process_Review_Checklist_Detail__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Process_Review_Checklist_FACT__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
