force-app/main/default/flows/F_Task_After_Insert_Update_Async.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>TaskCreationNew2</description>
        <name>TaskCreationNew2</name>
        <label>TaskCreationNew2</label>
        <locationX>1458</locationX>
        <locationY>384</locationY>
        <actionName>TaskCreationNew2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_mdv_NewTaskCreation</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inp_sObject</typeName>
            <typeValue>Task</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inp_sObject</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TaskCreationNew2</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Call Apex class TaskStatusOpen</description>
        <name>TaskStatusOpen</name>
        <label>TaskStatusOpen</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>TaskStatusOpen</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_mdv_TaskStatusOpenOutcome</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inp_parms</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TaskStatusOpen</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_mdv_NewTaskCreation</name>
        <label>Assign_mdv_NewTaskCreation</label>
        <locationX>1458</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>mdv_NewTaskCreation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Async</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_SystemExecutedTasks</name>
        <label>Assign mdv_SystemExecutedTasks</label>
        <locationX>2118</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>mdv_SystemExecutedTasks</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Async</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_TaskStatusOpenOutcome</name>
        <label>Assign mdv_TaskStatusOpenOutcome</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>mdv_TaskStatusOpenOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_TaskStatusUpdateDocumentPending</name>
        <label>Assign mdv_TaskStatusUpdateDocumentPending</label>
        <locationX>1722</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>mdv_TaskStatusUpdateDocumentPending</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Async</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdvudpateSobjectStatusAfterEndTask</name>
        <label>Assign mdvudpateSobjectStatusAfterEndTask</label>
        <locationX>710</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>mdvudpateSobjectStatusAfterEndTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Async</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdvUpdateSobjectStatusAfterEndTaskLost</name>
        <label>Assign mdvUpdateSobjectStatusAfterEndTaskLost</label>
        <locationX>1150</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>mdvUpdateSobjectStatusAfterEndTaskLost</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Async</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Action_Name</name>
        <label>Check Action Name</label>
        <locationX>2118</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_SystemExecutedTasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Re_Open_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Path_Task_Detail__r.Action_URL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Path_Initiated_Task_Id_Status_Open</targetReference>
            </connector>
            <label>Re-Open Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sobject_Type_ToBe_Closed</name>
        <label>Check Sobject Type ToBe Closed</label>
        <locationX>710</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Assign_mdvudpateSobjectStatusAfterEndTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_ToBe_Closed_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Attribute_Object_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_ToBe_Closed</targetReference>
            </connector>
            <label>Opportunity ToBe Closed Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Sobject_Type_ToBe_Closed_Lost</name>
        <label>Check Sobject Type ToBe Closed - Lost</label>
        <locationX>1150</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Assign_mdvUpdateSobjectStatusAfterEndTaskLost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Opportunity_ToBe_Closed_Lost_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Attribute_Object_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Opportunity_ToBe_Closed_Lost</targetReference>
            </connector>
            <label>Opportunity ToBe Closed - Lost Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Decision</name>
        <label>Main Decision</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Status_Open_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mdv_TaskStatusOpenOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Execution_Depended_Closed_Task_Ids__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Task_Status_Draft</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskStatusOpen</targetReference>
            </connector>
            <label>Task Status Open Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Decision_Async</name>
        <label>Main Decision Async</label>
        <locationX>1700</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Sobject_Status_After_End_Task_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mdvudpateSobjectStatusAfterEndTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Task_Status_Completed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Sobject_Type_ToBe_Closed</targetReference>
            </connector>
            <label>Update Sobject Status After End Task - Won</label>
        </rules>
        <rules>
            <name>Update_Sobject_Status_After_End_Task_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mdvUpdateSobjectStatusAfterEndTaskLost</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Task_Status_Failed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_Sobject_Type_ToBe_Closed_Lost</targetReference>
            </connector>
            <label>Update Sobject Status After End Task - Lost</label>
        </rules>
        <rules>
            <name>New_Task_Creation</name>
            <conditionLogic>4 and (Not 3) AND 1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Path_Deviation_Ids__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Task_Status_Failed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_NewTaskCreation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskCreationNew2</targetReference>
            </connector>
            <label>New Task Creation</label>
        </rules>
        <rules>
            <name>Task_Status_Update_Document_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Task_Status_Document_Pending</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_TaskStatusUpdateDocumentPending</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_If_Document_Pending</targetReference>
            </connector>
            <label>Task Status Update - Document Pending</label>
        </rules>
        <rules>
            <name>System_Executed_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Path_Task_Detail__r.Action_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Flow Executed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_SystemExecutedTasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Action_Name</targetReference>
            </connector>
            <label>System Executed Tasks</label>
        </rules>
        <rules>
            <name>Fail_Flow_To_Debug</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.Flow_Failed_Flag</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ture</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fail_The_Flow</targetReference>
            </connector>
            <label>Fail Flow To Debug</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>F Task After Insert Update Async {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F Task After Insert Update Async</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_Opportunity_ToBe_Closed_Lost</name>
        <label>Update Opportunity ToBe Closed Lost</label>
        <locationX>1018</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Assign_mdvUpdateSobjectStatusAfterEndTaskLost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Fail_The_Flow</name>
        <label>Fail The Flow</label>
        <locationX>2426</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_ToBe_Closed</name>
        <label>Update Opportunity ToBe Closed</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Assign_mdvudpateSobjectStatusAfterEndTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Path_Initiated_Task_Id_Status_Open</name>
        <label>Update Path Initiated Task Id Status - Open</label>
        <locationX>1986</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Assign_mdv_SystemExecutedTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Process_Path_Initiated_Task_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Label.Task_Status_Open</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_If_Document_Pending</name>
        <label>Update Status If Document Pending</label>
        <locationX>1722</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Assign_mdv_TaskStatusUpdateDocumentPending</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Label.Task_Status_Open</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>815</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Main_Decision</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 and 2 ) OR  ((3 or 4) And 5) or (3 And 6) or 7</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Start</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>End</stringValue>
            </value>
        </filters>
        <filters>
            <field>Process_Path_Deviation_Ids__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Document Pending</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Main_Decision_Async</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>cv_upd_RelateTaskExecutionDependedClosedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>mdv_CompleteTheStartTask</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_NewTaskCreation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_SystemExecutedTasks</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_TaskStatusOpenOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_TaskStatusUpdateDocumentPending</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_UpdateRelatedExecutionDependedClosedTaskIdsOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdvudpateSobjectStatusAfterEndTask</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdvUpdateSobjectStatusAfterEndTaskLost</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>v_Dummy</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
