force-app/main/default/flows/F_Task_Before_InsertUpdate_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign mdv_CheckTaskTobeOpen</label>
        <locationX>2206</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>mdv_CheckTaskTobeOpen</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_All_Child_Tasks_Closed</name>
        <label>Assign All Child Tasks Closed</label>
        <locationX>1810</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.All_Child_Tasks_Closed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_AllChildTasksClosedFortheCurrentRecordOutcome</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Task_PAD</name>
        <label>Assign Case Task PAD</label>
        <locationX>314</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Attribute_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Process_Attribute_details_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Task_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_AssignProcessAttributeDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Records_Completed_Status</name>
        <label>Assign Current Records Completed Status</label>
        <locationX>2074</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Task_Status_Completed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Records_Open_Status</name>
        <label>Assign Current Records Open Status</label>
        <locationX>2338</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Task_Status_Open</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DateTime_of_Meeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Records_ReOpen_Status_and_Count</name>
        <label>Assign Current Records ReOpen Status and Count</label>
        <locationX>2602</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Task_Status_Open</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Current_Attempt_No__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_CheckTaskTobeReOpen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Task_PAD</name>
        <label>Assign Lead Task PAD</label>
        <locationX>578</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Attribute_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Process_Attribute_Details_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_AssignProcessAttributeDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_AllChildTasksClosedFortheCurrentRecordOutcome</name>
        <label>Assign mdv_AllChildTasksClosedFortheCurrentRecordOutcome</label>
        <locationX>1810</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>mdv_AllChildTasksClosedFortheCurrentParentRecordOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_AmeyoIntegrationAssignedTo</name>
        <label>Assign_mdv_AmeyoIntegrationAssignedTo</label>
        <locationX>1282</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>mdv_AmeyoIntegrationAssignedTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_AssignProcessAttributeDetails</name>
        <label>Assign mdv_AssignProcessAttributeDetails</label>
        <locationX>446</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>mdv_AssignProcessAttributeDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_CheckTaskTobeReOpen</name>
        <label>Assign mdv_CheckTaskTobeReOpen</label>
        <locationX>2602</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>mdv_CheckTaskTobeReOpen</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_OwnerAssignment</name>
        <label>Assign mdv_OwnerAssignment</label>
        <locationX>3988</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>mdv_OwnerAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_mdv_UpdateTaskStatusInitiated</name>
        <label>Assign_mdv_UpdateTaskStatusInitiated</label>
        <locationX>1018</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>mdv_UpdateTaskStatusInitiated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_Task_PAD</name>
        <label>Assign Opp Task PAD</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Attribute_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Process_Attribute_Details_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contact_Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Related_Contact_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_AssignProcessAttributeDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Task_Owner</name>
        <label>Assign Record Task Owner</label>
        <locationX>2866</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_TaskOwnerId_Final</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Default_Owner_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_OwnerAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Task_Owner_System_Owner</name>
        <label>Assign Record Task Owner - System Owner</label>
        <locationX>4714</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Task_Default_Onwer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_OwnerAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_No_Owner_Assigned</name>
        <label>Assign Status No Owner Assigned</label>
        <locationX>4978</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Task_Status_NoOwnerAssigned</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_OwnerAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_No_Queue_Exists</name>
        <label>Assign Status No Queue Exists</label>
        <locationX>3130</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Task_Status_NoQueueExists</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_OwnerAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Owner_Financial_Account_Origin_Branch</name>
        <label>Assign Task Owner Financial Account Origin Branch</label>
        <locationX>3658</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>v_Taks_Owner_BasedOn_Task_Owner_Matrix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Financial_Account_Origin_Branch.Originating_Branch__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Task_Owner_Assignment_Matrix_Owner_Based</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Owner_Opportunity_Owner</name>
        <label>Assign Task Owner Opportunity Owner</label>
        <locationX>3394</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>v_Taks_Owner_BasedOn_Task_Owner_Matrix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Task_Owner_Assignment_Matrix_Owner_Based</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Owner_Queue_Name_Opportunity_Owner_Based</name>
        <label>Assign Task Owner Queue Name - Opportunity Owner Based</label>
        <locationX>3394</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>v_Task_Owner_Queue_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Owner_Assignment_Matrix_Owner_Based.Queue_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Queue_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Owner_Queue_Name_Queue_Name_Based</name>
        <label>Assign Task Owner Queue Name - Queue Name Based</label>
        <locationX>2998</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>v_Task_Owner_Queue_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Process_Path_Task_Detail__r.Task_Owner_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Owner_User_Outcome</name>
        <label>Assign Task Owner - User Outcome</label>
        <locationX>4450</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Document_Handler.To_Be_Received_By__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Default_Owner_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_OwnerAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TaskOwnerFinal_Get_Queue_Name</name>
        <label>Assign TaskOwnerFinal Get Queue Name</label>
        <locationX>2998</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>v_TaskOwnerId_Final</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_Name.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Owner_Queue_Name_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TaskOwnerFinal_Task_Owner_for_Path_Initiated_By_Task</name>
        <label>Assign TaskOwnerFinal Task Owner for Path Initiated By Task</label>
        <locationX>3922</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>v_TaskOwnerId_Final</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Owner_for_Path_Initiated_By_Task.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Owner_Queue_Name_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Task_Owner_Queue_Name_Queue_Name_Based</name>
        <label>Copy 1 of Assign Task Owner Queue Name - Queue Name Based</label>
        <locationX>4186</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>v_Task_Owner_Queue_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Document_Handler_For_Dispatched_Detail_Based_Task_Owner.Process_Task_Owner_Assignment_Matrix__r.Queue_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Queue_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Owner_Assignment</name>
        <label>Owner Assignment</label>
        <locationX>1282</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_AmeyoIntegrationAssignedTo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Task_Status_Initiated_Assignment</name>
        <label>Update Task Status Initiated_Assignment</label>
        <locationX>1018</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Initiated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_UpdateTaskStatusInitiated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WCD_Record_Assignment</name>
        <label>WCD Record Assignment</label>
        <locationX>1546</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Welcome_Calling_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WCD_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WCD_Record_Assignment_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WCD_Record_Assignment_False</name>
        <label>WCD Record Assignment False</label>
        <locationX>1546</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>mdv_WCDAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_End_Task</name>
        <label>Check If End Task</label>
        <locationX>2206</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Assign_Current_Records_Open_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>End_Task_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Records_Completed_Status</targetReference>
            </connector>
            <label>End Task Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Owner_Queue_Name_Exists</name>
        <label>Check Owner Queue Name Exists</label>
        <locationX>2998</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Assign_Status_No_Queue_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Queue_Name_Exists_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_TaskOwnerId_Final</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record_Task_Owner</targetReference>
            </connector>
            <label>Owner Queue Name Exists Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Check_Owner_Type</name>
        <label>Decision Check Owner Type</label>
        <locationX>3988</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Assign_Status_No_Owner_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Queue_Type_Outcome</name>
            <conditionLogic>1 or 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Attribute_Details__r.Task_Owner_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Path_Task_Detail__r.Task_Owner_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Owner_Queue_Name_Queue_Name_Based</targetReference>
            </connector>
            <label>Queue Type Outcome</label>
        </rules>
        <rules>
            <name>Owner_Based_Assignment_Task_Ownerid_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Path_Task_Detail__r.Task_Owner_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owner Based Assignment - Task - Ownerid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Owner_Opportunity_Owner</targetReference>
            </connector>
            <label>Owner Based Assignment - Task- Ownerid Outcome</label>
        </rules>
        <rules>
            <name>Account_Based_Assignment_Financial_Account_c_Originating_Branch_c_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Path_Task_Detail__r.Task_Owner_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Based Assignment - Financial_Account__c - Originating_Branch__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Financial_Account_Origin_Branch</targetReference>
            </connector>
            <label>Account Based Assignment - Financial_Account__c - Originating_Branch__c Outcome</label>
        </rules>
        <rules>
            <name>Task_Owner_Based_Assignment_Task_Process_Path_Initiated_Task_Id_c_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Path_Task_Detail__r.Task_Owner_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task Owner Based Assignment - Task - Process_Path_Initiated_Task_Id__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task_Owner_for_Path_Initiated_By_Task</targetReference>
            </connector>
            <label>Task Owner Based Assignment - Task - Process_Path_Initiated_Task_Id__c Outcome</label>
        </rules>
        <rules>
            <name>Document_Handler_Dispatch_Details_Based_Assignment_Process_Task_Owner_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Path_Task_Detail__r.Task_Owner_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document Handler Dispatch Details Based Assignment - Process Task Owner Assignment Matrix - Queue Name</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Document_Handler_For_Dispatched_Detail_Based_Task_Owner</targetReference>
            </connector>
            <label>Document Handler Dispatch Details Based Assignment - Process Task Owner Assignment Matrix - Queue Name Outcome</label>
        </rules>
        <rules>
            <name>User_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Path_Task_Detail__r.Task_Owner_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task Owner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Document_Handler</targetReference>
            </connector>
            <label>User Outcome</label>
        </rules>
        <rules>
            <name>System_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Path_Task_Detail__r.Task_Owner_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record_Task_Owner_System_Owner</targetReference>
            </connector>
            <label>System Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Decision_Task</name>
        <label>Main Decision - Task</label>
        <locationX>2844</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Assign_Process_Attribute_Details_ID_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Attribute_Details__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Path_Task_Detail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_AssignProcessAttributeDetails</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Triggering_Object_Decision</targetReference>
            </connector>
            <label>Check Assign Process Attribute Details ID Outcome</label>
        </rules>
        <rules>
            <name>Update_Task_Status_Initiated</name>
            <conditionLogic>(1 OR 4) AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Label.Task_Status_Initiated</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Initiated_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_UpdateTaskStatusInitiated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Status_Initiated_Assignment</targetReference>
            </connector>
            <label>Update Task Status Initiated</label>
        </rules>
        <rules>
            <name>Ameyo_Integration_Update_Assigned_To</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_AmeyoIntegrationAssignedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CrtObjectId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Id</targetReference>
            </connector>
            <label>Ameyo Integration - Update Assigned To</label>
        </rules>
        <rules>
            <name>Tag_Welcome_Call_Task_To_WCD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Welcome Call</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_WCDAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WCD_Record</targetReference>
            </connector>
            <label>Tag Welcome Call Task To WCD</label>
        </rules>
        <rules>
            <name>All_Child_Tasks_Closed_For_the_Current_Parent_Record_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mdv_AllChildTasksClosedFortheCurrentParentRecordOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Task_Status_Completed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.All_Child_Tasks_Closed__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Child_Task__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_All_Child_Tasks_Closed</targetReference>
            </connector>
            <label>All Child Tasks Closed For the Current Parent Record Outcome</label>
        </rules>
        <rules>
            <name>Check_Task_Tobe_Open</name>
            <conditionLogic>1 AND (2 or 4 or 6) AND  ( 3 or 5) AND(7 or 8)</conditionLogic>
            <conditions>
                <leftValueReference>mdv_CheckTaskTobeOpen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Task_Status_Draft</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Execution_Depended_on_Task_Ids__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Task_Status_NoOwnerAssigned</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Execution_Depended_Closed_Task_Ids__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Execution_Depended_on_Task_Ids__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Task_Status_NoQueueExists</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Path_Initiated_Task_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Path_Initiated_Task_Id__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00T</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_End_Task</targetReference>
            </connector>
            <label>Check Task Tobe Open</label>
        </rules>
        <rules>
            <name>Check_Task_Tobe_ReOpen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mdv_CheckTaskTobeReOpen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Task_Status_Failed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Attempt_No__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>fv_No_Of_Attempts_Allowed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Path_Task_Detail__r.Manual_API_Call_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Records_ReOpen_Status_and_Count</targetReference>
            </connector>
            <label>Check Task Tobe ReOpen</label>
        </rules>
        <rules>
            <name>Check_Owner_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mdv_OwnerAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Task_Status_Open</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Default_Owner_Assigned__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Check_Owner_Type</targetReference>
            </connector>
            <label>Check Owner Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Triggering_Object_Decision</name>
        <label>Triggering Object Decision</label>
        <locationX>446</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_AssignProcessAttributeDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Outcome</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Attribute_Details__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Path_Task_Detail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Record</targetReference>
            </connector>
            <label>Opportunity Outcome</label>
        </rules>
        <rules>
            <name>Case_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record</targetReference>
            </connector>
            <label>Case Outcome</label>
        </rules>
        <rules>
            <name>Lead_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Record</targetReference>
            </connector>
            <label>Lead Outcome</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fv_ActivityDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + {!$Record.Process_Attribute_Details__r.SLA__c}</expression>
    </formulas>
    <formulas>
        <name>fv_Due_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>fv_No_Of_Attempts_Allowed</name>
        <dataType>Number</dataType>
        <expression>value(text({!$Record.Process_Path_Task_Detail__r.No_Of_Attempts_Allowed__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fv_PathInitiatedTaskId</name>
        <dataType>String</dataType>
        <expression>left({!$Record.Process_Path_Initiated_Task_Id__c},18)</expression>
    </formulas>
    <formulas>
        <name>fv_PathInitiateTaskId</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Process_Path_Initiated_Task_Id__c}, 18)</expression>
    </formulas>
    <formulas>
        <name>fv_SLA_Start_Date</name>
        <dataType>DateTime</dataType>
        <expression>if ({!$Flow.CurrentDateTime} &lt; (DATETIMEVALUE({!$Flow.CurrentDate})+ (600/1440)) ,(DATETIMEVALUE({!$Flow.CurrentDate})+ (600/1440)),if ( {!$Flow.CurrentDateTime} &gt; (DATETIMEVALUE({!$Flow.CurrentDate} )+ (1080/1440)) , (DATETIMEVALUE({!$Flow.CurrentDate} + 1) + (600/1440)) , ({!$Flow.CurrentDateTime})))</expression>
    </formulas>
    <interviewLabel>F Task Before InsertUpdate - New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F Task Before InsertUpdate - New</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Process_Attribute_details_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Task_Record_Type</name>
        <label>Get Case Task Record Type</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Task_PAD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Process_Attribute_details_Case.Sobject_RecordType__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Handler</name>
        <label>Get Document Handler</label>
        <locationX>4450</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Task_Owner_User_Outcome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Document_Sharing_Task_Ids__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>To_Be_Received_By__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Document_Handler__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Handler_For_Dispatched_Detail_Based_Task_Owner</name>
        <label>Get Document Handler For Dispatched Detail Based Task Owner</label>
        <locationX>4186</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Task_Owner_Queue_Name_Queue_Name_Based</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Task_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Task_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Process_Attribute_Path_Deviation__r.Document_Sharing_Status__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Document_Handler__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Financial_Account_Origin_Branch</name>
        <label>Get Financial Account - Origin Branch</label>
        <locationX>3658</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Task_Owner_Financial_Account_Origin_Branch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Financial_Account__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Process_Attribute_Details_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Process_Attribute_Details_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Related_Contact_Record</name>
        <label>Get Opportunity Related Contact Record</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opp_Task_PAD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Attribute_details_Case</name>
        <label>Get Process Attribute details - Case</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Task_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process_Attribute__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.Process_Attribute__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Task_Subject__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </filters>
        <filters>
            <field>Task_Automation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Process_Attribute_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Attribute_Details_Lead</name>
        <label>Get Process Attribute Details - Lead</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process_Attribute__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead_Record.Process_Attribute__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Task_Subject__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </filters>
        <filters>
            <field>Task_Automation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Process_Attribute_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Attribute_Details_Opportunity</name>
        <label>Get Process Attribute Details - Opportunity</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process_Attribute__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Process_Attribute__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Task_Subject__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </filters>
        <filters>
            <field>Task_Automation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Process_Attribute_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Name</name>
        <label>Get Queue Name</label>
        <locationX>2998</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_TaskOwnerFinal_Get_Queue_Name</targetReference>
        </connector>
        <filterLogic>1 AND (2 or 3)</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_Task_Owner_Queue_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_Task_Owner_Queue_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Lead</name>
        <label>Get Record Type - Lead</label>
        <locationX>578</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Lead_Task_PAD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Process_Attribute_Details_Lead.Sobject_RecordType__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Opportunity</name>
        <label>Get Record Type - Opportunity</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Related_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Process_Attribute_Details_Opportunity.Sobject_RecordType__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Owner_Assignment_Matrix_Owner_Based</name>
        <label>Get Task Owner Assignment Matrix Owner Based</label>
        <locationX>3394</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Task_Owner_Queue_Name_Opportunity_Owner_Based</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_Taks_Owner_BasedOn_Task_Owner_Matrix</elementReference>
            </value>
        </filters>
        <filters>
            <field>User_Functional_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Process_Path_Task_Detail__r.Task_Owner_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_Taks_Owner_BasedOn_Task_Owner_Matrix</elementReference>
            </value>
        </filters>
        <filters>
            <field>Branch_Functional_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Process_Path_Task_Detail__r.Task_Owner_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Process_Task_Owner_Assignment_Matrix__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Owner_for_Path_Initiated_By_Task</name>
        <label>Get Task Owner for Path Initiated By Task</label>
        <locationX>3922</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_TaskOwnerFinal_Task_Owner_for_Path_Initiated_By_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fv_PathInitiatedTaskId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Id</name>
        <label>Get User Id</label>
        <locationX>1282</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WCD_Record</name>
        <label>Get WCD Record</label>
        <locationX>1546</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WCD_Record_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Welcome_Calling_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>2718</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process_Path_Task_Detail__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>mdv_AllChildTasksClosedFortheCurrentChildRecordOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_AllChildTasksClosedFortheCurrentParentRecordOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_AmeyoIntegrationAssignedTo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_AssignProcessAttributeDetails</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_CheckTaskTobeOpen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_CheckTaskTobeReOpen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_OwnerAssignment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_UpdateTaskStatusInitiated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_WCDAssignment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>v_Taks_Owner_BasedOn_Task_Owner_Matrix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Task_Owner_Queue_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_TaskOwnerId_Final</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
