force-app/main/default/flows/F_Task_Before_InsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Case_Task_PAD</name>
        <label>Assign Case Task PAD</label>
        <locationX>1018</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Attribute_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Process_Attribute_details_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Task_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mvd_TriggeringObjectAssinged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_AmeyoIntegrationAssignedTo</name>
        <label>Assign_mdv_AmeyoIntegrationAssignedTo</label>
        <locationX>1722</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>mdv_AmeyoIntegrationAssignedTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_UpdateTaskStatusInitiated</name>
        <label>Assign_mdv_UpdateTaskStatusInitiated</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>mdv_UpdateTaskStatusInitiated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mvd_TriggeringObjectAssinged</name>
        <label>Assign mvd_TriggeringObjectAssinged</label>
        <locationX>1128</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>mvd_TriggeringObjectAssinged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_Task_PAD</name>
        <label>Assign Opp Task PAD</label>
        <locationX>710</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Attribute_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Process_Attribute_Details_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contact_Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Related_Contact_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Owner_Is_Vishal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Process_Attribute_Detials_To_Task</name>
        <label>Assign Process Attribute Detials To Task</label>
        <locationX>1282</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Attribute_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Process_Attribute_Details_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mvd_TriggeringObjectAssinged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_as_Duplicate</name>
        <label>Assign Task as Duplicate</label>
        <locationX>578</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Duplicate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IsClosed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mvd_TriggeringObjectAssinged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Opp_Task_PAD</name>
        <label>Copy 1 of Assign Opp Task PAD</label>
        <locationX>578</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00GOW000001E5Lp</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Owner_Assignment</name>
        <label>Owner Assignment</label>
        <locationX>1722</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_AmeyoIntegrationAssignedTo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Task_Status_Initiated_Assignment</name>
        <label>Update Task Status Initiated_Assignment</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Initiated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_mdv_UpdateTaskStatusInitiated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WCD_Record_Assignment</name>
        <label>WCD Record Assignment</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Welcome_Calling_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WCD_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WCD_Record_Assignment_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WCD_Record_Assignment_False</name>
        <label>WCD Record Assignment False</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>mdv_WCDAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Owner_Is_Vishal</name>
        <label>Check Owner Is Vishal</label>
        <locationX>710</locationX>
        <locationY>1043</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vishal_is_the_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005C7000000IbUMIA0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Opp_Task_PAD</targetReference>
            </connector>
            <label>Vishal is the owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Task_Already_Exists_OR_Not</name>
        <label>Check Task Already Exists OR Not</label>
        <locationX>710</locationX>
        <locationY>1451</locationY>
        <defaultConnector>
            <targetReference>Assign_mvd_TriggeringObjectAssinged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Outcome_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_as_Duplicate</targetReference>
            </connector>
            <label>Task Outcome - Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Decision_Task</name>
        <label>Main Decision - Task</label>
        <locationX>1018</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Task_Status_Initiated</name>
            <conditionLogic>(1 OR 4) AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Label.Task_Status_Initiated</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Initiated_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_UpdateTaskStatusInitiated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Status_Initiated_Assignment</targetReference>
            </connector>
            <label>Update Task Status Initiated</label>
        </rules>
        <rules>
            <name>Tag_Welcome_Call_Task_To_WCD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Welcome Call</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_WCDAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WCD_Record</targetReference>
            </connector>
            <label>Tag Welcome Call Task To WCD</label>
        </rules>
        <rules>
            <name>Check_Assign_Process_Attribute_Details_ID_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Attribute_Details__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mvd_TriggeringObjectAssinged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Triggering_Object_Decision</targetReference>
            </connector>
            <label>Check Assign Process Attribute Details ID Outcome</label>
        </rules>
        <rules>
            <name>Ameyo_Integration_Update_Assigned_To</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_AmeyoIntegrationAssignedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Id</targetReference>
            </connector>
            <label>Ameyo Integration - Update Assigned To</label>
        </rules>
    </decisions>
    <decisions>
        <name>Triggering_Object_Decision</name>
        <label>Triggering Object Decision</label>
        <locationX>1128</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Assign_mvd_TriggeringObjectAssinged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Attribute_Details__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Record</targetReference>
            </connector>
            <label>Opportunity Outcome</label>
        </rules>
        <rules>
            <name>Case_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record</targetReference>
            </connector>
            <label>Case Outcome</label>
        </rules>
        <rules>
            <name>Lead_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Details</targetReference>
            </connector>
            <label>Lead Outcome</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fv_ActivityDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + {!$Record.Process_Attribute_Details__r.SLA__c}</expression>
    </formulas>
    <interviewLabel>F Task Before InsertUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F Task Before InsertUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>1018</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Process_Attribute_details_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Task_Record_Type</name>
        <label>Get Case Task Record Type</label>
        <locationX>1018</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Task_PAD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Process_Attribute_details_Case.Sobject_RecordType__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Details</name>
        <label>Get Lead Details</label>
        <locationX>1282</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Process_Attribute_Details_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>710</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Process_Attribute_Details_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Related_Contact_Record</name>
        <label>Get Opportunity Related Contact Record</label>
        <locationX>710</locationX>
        <locationY>827</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opp_Task_PAD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Attribute_details_Case</name>
        <label>Get Process Attribute details - Case</label>
        <locationX>1018</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Task_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process_Attribute__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.Process_Attribute__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Task_Subject__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </filters>
        <filters>
            <field>Task_Automation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Process_Attribute_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Attribute_Details_Lead</name>
        <label>Get Process Attribute Details - Lead</label>
        <locationX>1282</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process_Attribute__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead_Details.Process_Attribute__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Task_Subject__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </filters>
        <filters>
            <field>Task_Automation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Process_Attribute_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Attribute_Details_Opportunity</name>
        <label>Get Process Attribute Details - Opportunity</label>
        <locationX>710</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process_Attribute__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Process_Attribute__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Task_Subject__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </filters>
        <filters>
            <field>Task_Automation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Process_Attribute_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Lead</name>
        <label>Get Record Type - Lead</label>
        <locationX>1282</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Process_Attribute_Detials_To_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Process_Attribute_Details_Lead.Sobject_RecordType__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Opportunity</name>
        <label>Get Record Type - Opportunity</label>
        <locationX>710</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Related_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Process_Attribute_Details_Opportunity.Sobject_RecordType__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Task</name>
        <label>Get Related Task</label>
        <locationX>710</locationX>
        <locationY>1343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Task_Already_Exists_OR_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process_Attribute_Details__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Process_Attribute_Details_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Meeting_Call_Purpose__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Meeting_Call_Purpose__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Task_ID_Follow_Up__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Id</name>
        <label>Get User Id</label>
        <locationX>1722</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WCD_Record</name>
        <label>Get WCD Record</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WCD_Record_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Welcome_Calling_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>892</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process_Path_Task_Detail__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>mdv_AmeyoIntegrationAssignedTo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_UpdateTaskStatusInitiated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_WCDAssignment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mvd_TriggeringObjectAssinged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
