force-app/main/default/flows/F_Task_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_New_Task_Creation_Stage_No_New</name>
        <label>Assign New Task Creation Stage No - New</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>v_New_Task_Creation_Stage_No</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_New_Tasks_of_the_Stage_from_PAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Task_Creation_Stage_No_Next</name>
        <label>Assign New Task Creation Stage No - Next</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>v_New_Task_Creation_Stage_No</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_Task_Creation_Next_Stage_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Process_Attribute_id_i</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Tasks.Process_Attribute_Details__r.Process_Attribute__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_New_Tasks_of_the_Stage_from_PAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_the_Master_Flow_Variables</name>
        <label>Assignment of the Master Flow Variables</label>
        <locationX>512</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>rv_Flow_Decision_Path_Variables_io.Check_for_Task_Creation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Existing_Value_v_case_record_updated_inside_flow_io</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Task_Assignment</name>
        <label>New Task Assignment</label>
        <locationX>930</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>rv_Insert_Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PAD_for_New_Task_Assignment.Task_Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Insert_Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_new_task_ownerid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Insert_Task.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_whoid_i</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Insert_Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_whatid_i</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Insert_Task.Current_Attempt_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Insert_Task.Process_Attribute_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PAD_for_New_Task_Assignment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Task_Assignment_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Task_Assignment_Collection</name>
        <label>New Task Assignment Collection</label>
        <locationX>930</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>cv_Insert_Task</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rv_Insert_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PAD_for_New_Task_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Repeat_Task_Assignment</name>
        <label>Repeat Task Assignment</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>rv_Insert_Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_task_io.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Insert_Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_task_io.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Insert_Task.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_task_io.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Insert_Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_task_io.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Insert_Task.Current_Attempt_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_task_io.Current_Attempt_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Insert_Task.Process_Attribute_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_task_io.Process_Attribute_Details__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Repeat_Task_Assignment_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Repeat_Task_Assignment_Collection</name>
        <label>Repeat Task Assignment Collection</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>cv_Insert_Task</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rv_Insert_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Existing_Value_v_case_record_updated_inside_flow_io</name>
        <label>Check Existing Value v_case_record_updated_inside_flow_io</label>
        <locationX>512</locationX>
        <locationY>1574</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>v_case_record_updated_inside_flow_io_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_case_record_updated_inside_flow_io</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>v_case_record_updated_inside_flow_io</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>v_case_record_updated_inside_flow_io_outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_No_of_Repeat_Attempts_Allowed</name>
        <label>Check No of Repeat Attempts Allowed</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Repeat_Valid_Attempt_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fv_curent_task_attempt_no</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>fv_pad_allwoed_no_of_repeat_attempts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Repeat_Task_Assignment</targetReference>
            </connector>
            <label>Repeat Valid Attempt Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Decision</name>
        <label>Main Decision</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Failed_Task_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rv_task_io.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Task_Status_Failed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_No_of_Repeat_Attempts_Allowed</targetReference>
            </connector>
            <label>Check Failed Task Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Creation_Stage_Identification_Decision</name>
        <label>Task Creation Stage Identification Decision</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Stage_1_Task_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Task_Creation_Stage_No_New</targetReference>
            </connector>
            <label>Create Stage 1 Task Outcome</label>
        </rules>
        <rules>
            <name>Create_Next_Stage_Task_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Tasks.CompletedDateTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Task_Creation_Stage_No_Next</targetReference>
            </connector>
            <label>Create Next Stage Task Outcome</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fv_curent_task_attempt_no</name>
        <dataType>Number</dataType>
        <expression>{!rv_task_io.Current_Attempt_No__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fv_pad_allwoed_no_of_repeat_attempts</name>
        <dataType>Number</dataType>
        <expression>value(text({!rv_task_io.Process_Attribute_Details__r.No_Of_Attempt__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fv_Task_Creation_Next_Stage_Number</name>
        <dataType>Number</dataType>
        <expression>value(text({!Get_Existing_Tasks.Process_Attribute_Details__r.Stage_SL_No__c})) + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>F Task Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F Task Creation</label>
    <loops>
        <name>Loop_PAD_for_New_Task_Assignment</name>
        <label>Loop PAD for New Task Assignment</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_All_New_Tasks_of_the_Stage_from_PAD</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>F_Task_OwnerID_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Task_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_Records</name>
        <label>Create Task Records</label>
        <locationX>512</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Assignment_of_the_Master_Flow_Variables</targetReference>
        </connector>
        <inputReference>cv_Insert_Task</inputReference>
    </recordCreates>
    <recordLookups>
        <description>PAD - process attribute details</description>
        <name>Get_All_New_Tasks_of_the_Stage_from_PAD</name>
        <label>Get All  New Tasks of the Stage from PAD</label>
        <locationX>842</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_PAD_for_New_Task_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process_Attribute__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_Process_Attribute_id_i</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage_SL_No__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_New_Task_Creation_Stage_No</elementReference>
            </value>
        </filters>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Process_Attribute_Details__c</object>
        <sortField>Task_Subject_Sl_No__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all the existing task</description>
        <name>Get_Existing_Tasks</name>
        <label>Get Existing Tasks</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Creation_Stage_Identification_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_whatid_i</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process_Attribute_Details__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CompletedDateTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Main_Decision</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>F_Task_OwnerID_Assignment</name>
        <label>F Task OwnerID Assignment</label>
        <locationX>930</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>New_Task_Assignment</targetReference>
        </connector>
        <flowName>F_Task_OwnerID_Assignment</flowName>
        <inputAssignments>
            <name>rv_Task_i</name>
            <value>
                <elementReference>rv_task_io</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>v_Case_i</name>
            <value>
                <elementReference>rv_Case_io</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>v_new_Task_Owner_Type_i</name>
            <value>
                <elementReference>Loop_PAD_for_New_Task_Assignment.Task_Owner_Type__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>v_new_task_ownerid</assignToReference>
            <name>v_new_task_ownerid_o</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>cv_Insert_Task</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rv_Case_io</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>rv_Flow_Decision_Path_Variables_io</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Flow_Decision_Path_Variables__c</objectType>
    </variables>
    <variables>
        <name>rv_Insert_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>get the current task</description>
        <name>rv_task_io</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>v_case_record_updated_inside_flow_io</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>v_New_Task_Creation_Stage_No</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>v_new_task_ownerid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Process_Attribute_id_i</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To get the record id for what the task is related to</description>
        <name>v_whatid_i</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_whoid_i</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
