force-app/main/default/flows/F_Task_OwnerID_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Task_Onwerid_Case_Default</name>
        <label>Assign Task Onwerid - Case Default</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>v_new_task_ownerid_o</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Integration_User_ID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Task_Onwerid_Case_System</name>
        <label>Assign Task Onwerid - Case System</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>v_new_task_ownerid_o</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Integration_User_ID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Task_Onwerid_Default_Default</name>
        <label>Assign Task Onwerid - Default Default</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>v_new_task_ownerid_o</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Integration_User_ID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Task_Onwerid_Task_Default</name>
        <label>Assign Task Onwerid - Task Default</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>v_new_task_ownerid_o</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Integration_User_ID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Task_Onwerid_Task_System</name>
        <label>Assign Task Onwerid - Task System</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>v_new_task_ownerid_o</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Integration_User_ID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Different_Ower_Type_Decision_From_Case</name>
        <label>Different Ower Type Decision From Case</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Assign_Task_Onwerid_Case_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Onwer_Type_System_Outcome_from_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_new_Task_Owner_Type_i</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Onwerid_Case_System</targetReference>
            </connector>
            <label>Onwer Type - System Outcome from Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Different_Ower_Type_Decision_From_Task</name>
        <label>Different Ower Type Decision From Task</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Assign_Task_Onwerid_Task_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Onwer_Type_System_Outcome_from_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_new_Task_Owner_Type_i</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Onwerid_Task_System</targetReference>
            </connector>
            <label>Onwer Type - System Outcome from Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Task_Owner_Originator_Descision</name>
        <label>New Task Owner Originator Descision</label>
        <locationX>644</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Assign_Task_Onwerid_Default_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Setting_owner_from_Current_Task_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rv_Task_i</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Different_Ower_Type_Decision_From_Task</targetReference>
            </connector>
            <label>Setting owner from Current Task Outcome</label>
        </rules>
        <rules>
            <name>Setting_owner_from_Current_Case_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_Case_i</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Different_Ower_Type_Decision_From_Case</targetReference>
            </connector>
            <label>Setting owner from Current Case Outcome</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>F New Task OwnerID Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F Task OwnerID Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Task_Owner_Originator_Descision</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>rv_Task_i</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>v_Case_i</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>v_new_Task_Owner_Type_i</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>System</stringValue>
        </value>
    </variables>
    <variables>
        <name>v_new_task_ownerid_o</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
