force-app/main/default/flows/F_Task_After_InsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>TaskCreationFromPAD_Case</name>
        <label>TaskCreationFromPAD - Case</label>
        <locationX>5286</locationX>
        <locationY>647</locationY>
        <actionName>TaskCreationFromPAD</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__inp_record</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inp_record</name>
            <value>
                <elementReference>rv_Case</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TaskCreationFromPAD</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TaskCreationFromPAD_Opportuntiy</name>
        <label>TaskCreationFromPAD - Opportuntiy</label>
        <locationX>5022</locationX>
        <locationY>647</locationY>
        <actionName>TaskCreationFromPAD</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__inp_record</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inp_record</name>
            <value>
                <elementReference>rv_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TaskCreationFromPAD</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Account_Creation_Assignment</name>
        <label>Account Creation Assignment</label>
        <locationX>1722</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>rv_NewAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_NewAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Insertion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AccountId_Assignment</name>
        <label>AccountId Assignment</label>
        <locationX>1502</locationX>
        <locationY>1553</locationY>
        <assignmentItems>
            <assignToReference>$Record.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Contact_Record_Available.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_Updated_Current_loop_tasks</name>
        <label>Adding Updated Current loop tasks</label>
        <locationX>4362</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>rv_UpdatedRelatedTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Related_Task_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Related_Task_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_Updated_Current_loop_tasks_sr_no_null</name>
        <label>Adding Updated Current loop tasks - sr no. null</label>
        <locationX>4626</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>rv_UpdatedRelatedTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Related_Task_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Related_Task_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>API_Audit_Rec</name>
        <label>API Audit Rec</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>rv_NewAuditLog.Process_Attribute_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Process_Attribute_Details__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_NewAuditLog.Task_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_NewAuditLog.Processed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_NewAuditLog.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Audit_API_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_New_Rec_Status</name>
        <label>Assign Current Rec Status</label>
        <locationX>4890</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>System Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_OriginatingSysSL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Related_Task_List.Serialnumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Related_Task_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_current_Rec_Status</name>
        <label>Assign current Rec Status</label>
        <locationX>4362</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Loop_Over_Related_Task_List.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>System Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Updated_Current_loop_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_current_Rec_Status_Sr_Number_Null</name>
        <label>Assign current Rec Status - Sr. Number Null</label>
        <locationX>4626</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Loop_Over_Related_Task_List.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>System Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_Related_Task_List.Geo_Location__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Geo_Location__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_Related_Task_List.Geo_Location__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Geo_Location__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Updated_Current_loop_tasks_sr_no_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Record_Status</name>
        <label>Assign Current Record Status</label>
        <locationX>4098</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Duplicate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_OriginatingSysSL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Related_Task_List.Serialnumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Related_Task_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_CallBackTask</name>
        <label>Assign mdv_CallBackTask</label>
        <locationX>1381</locationX>
        <locationY>2153</locationY>
        <assignmentItems>
            <assignToReference>mdv_CallBackTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_CallDispositionCheck</name>
        <label>Assign_mdv_CallDispositionCheck</label>
        <locationX>2690</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>mdv_CallDispositionCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_CommunicationCallOut</name>
        <label>Assign mdv_CommunicationCallOut</label>
        <locationX>2162</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>mdv_CommunicationCallOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_CurrentTaskStatus</name>
        <label>Assign mdv_CurrentTaskStatus</label>
        <locationX>4164</locationX>
        <locationY>1739</locationY>
        <assignmentItems>
            <assignToReference>mdv_CurrentTaskStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_PostToChatter</name>
        <label>Assign mdv_PostToChatter</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>mdv_PostToChatter</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mdv_TaskHistoryMatrix</name>
        <label>Assign mdv_TaskHistoryMatrix</label>
        <locationX>578</locationX>
        <locationY>1013</locationY>
        <assignmentItems>
            <assignToReference>mdv_TaskHistoryMatrix</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MobileNumber_Related_Case</name>
        <label>Assign MobileNumber Related Case</label>
        <locationX>1018</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>rv_Case</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MobileNumber_Related_Existing_Call_back_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_What_id_as_Case_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Case_Object</name>
        <label>Assing Case Object</label>
        <locationX>5286</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>rv_Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Case.Process_Attribute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Process_Attribute_Details__r.Process_Attribute__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TaskCreationFromPAD_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Opportunity_Object</name>
        <label>Assing Opportunity Object</label>
        <locationX>5022</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>rv_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Opportunity.Process_Attribute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Process_Attribute_Details__r.Process_Attribute__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TaskCreationFromPAD_Opportuntiy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Assignment</name>
        <label>Case Assignment</label>
        <locationX>1744</locationX>
        <locationY>1745</locationY>
        <assignmentItems>
            <assignToReference>rv_Case.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Engagement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Case.Sub_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call Back</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Case.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Query</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CallBack_Case_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Assignment</name>
        <label>Contact Assignment</label>
        <locationX>1722</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>Check_Contact_Record_Available.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_NewAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_Contact_Record_Available.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_NewAccount.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_Contact_Record_Available.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_NewAccount.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Insertion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Account_Creation_Assignment</name>
        <label>Copy 1 of Account Creation Assignment</label>
        <locationX>1458</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>rv_NewAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_NewAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Account_Insertion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Contact_Assignment</name>
        <label>Copy 1 of Contact Assignment</label>
        <locationX>1458</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>Check_Contact_Record_Available.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_NewAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_with_Account_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reattempt_Task_Creation</name>
        <label>Reattempt Task Creation</label>
        <locationX>4494</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>rv_NewRepeatTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_NewRepeatTask.Current_Attempt_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_TaskCurrentAttemptNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_NewRepeatTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_NewRepeatTask.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>ReAttempt_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_History_Matrix_EndTime_Assignment</name>
        <label>Task History Matrix EndTime Assignment</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Records_Task_History_Matrix_c_Opportunity.End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task_History_Matrix.Task_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task_History_Matrix</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_History_Matrix_New_Record_Assignment</name>
        <label>Task History Matrix New Record Assignment</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>rv_Task_History_Matrix.OpportunityId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_OpportunityID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task_History_Matrix.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task_History_Matrix.Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task_History_Matrix.TaskId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task_History_Matrix.Task_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task_History_Matrix.Process_Attribute_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Process_Attribute_Details__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_History_Matrix</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Is_Available_As_Per_Mobile</name>
        <label>Account Is Available As Per Mobile</label>
        <locationX>1502</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Account_Creation_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Account_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Contact_Record_Available.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountId_Assignment</targetReference>
            </connector>
            <label>Contact Account Is Not Null</label>
        </rules>
        <rules>
            <name>Contact_Account_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Contact_Record_Available.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Contact_Record_Available</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Account_Creation_Assignment</targetReference>
            </connector>
            <label>Contact Account is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Call_Disposition</name>
        <label>Check Call Disposition</label>
        <locationX>2690</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_CallDispositionCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_Task_Status_Failed</name>
            <conditionLogic>(1 OR (2 AND 3) ) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Disposition_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Call_Not_Connected</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disposition_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Call_Connected</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Disposition_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Call_Disconnect</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Call_Outbound_Type</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Status_As_Failed</targetReference>
            </connector>
            <label>Assign Task Status Failed</label>
        </rules>
        <rules>
            <name>Assign_Task_Status_As_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Disposition_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Call_Connected</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Disposition_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Call_Disconnect</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Status_As_Completed</targetReference>
            </connector>
            <label>Assign Task Status As Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Looped_Record_Purpose</name>
        <label>Check Looped Record Purpose</label>
        <locationX>4494</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Assign_Current_New_Rec_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Record_Meeting_Outcome_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Related_Task_List.Meeting_Call_Purpose__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Meeting_Call_Purpose__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Record_Status</targetReference>
            </connector>
            <label>Current Record Meeting Outcome - Same</label>
        </rules>
        <rules>
            <name>Current_Record_SL_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Related_Task_List.Serialnumber__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>v_OriginatingSysSL</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_current_Rec_Status</targetReference>
            </connector>
            <label>Current Record SL Outcome</label>
        </rules>
        <rules>
            <name>Current_Task_Serial_Number_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Related_Task_List.Serialnumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_current_Rec_Status_Sr_Number_Null</targetReference>
            </connector>
            <label>Current Task Serial Number Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Related_Task_Records</name>
        <label>Check Related Task Records</label>
        <locationX>4164</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_CurrentTaskStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_Task_Records_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Related_Task_List</targetReference>
            </connector>
            <label>Related Task Records Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Updated_Related_TaskLIst</name>
        <label>Check Updated Related TaskLIst</label>
        <locationX>4010</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Update_Current_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updated_Related_TaskLIst_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rv_UpdatedRelatedTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Task_Records</targetReference>
            </connector>
            <label>Updated Related TaskLIst Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Decision_Task</name>
        <label>Main Decision - Task</label>
        <locationX>2932</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_PostToChatter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_Feed</targetReference>
            </connector>
            <label>Task Link Post to chatter</label>
        </rules>
        <rules>
            <name>Task_History_Matrix_Upsert</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsClosed</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.IsClosed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_TaskHistoryMatrix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_Task_History_Matrix_c_Opportunity</targetReference>
            </connector>
            <label>Task History Matrix Upsert</label>
        </rules>
        <rules>
            <name>Callback_Case_Creation_Assignment</name>
            <conditionLogic>1 AND 2 AND (3 AND 4) and 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>mdv_CallBackTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CrtObjectId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Result__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Call_Result</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Call_Result__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Call_Inbound_Type</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MobileNumber_Related_Existing_Call_back_Case</targetReference>
            </connector>
            <label>Callback Case Creation &amp; Assignment</label>
        </rules>
        <rules>
            <name>Call_SMS_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Attribute_Details__r.Communication_Template__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Attribute_Details__r.Communication_Template__r.Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_CommunicationCallOut</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Attribute_Details__r.isActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>API_Audit_Rec</targetReference>
            </connector>
            <label>Call SMS Notification</label>
        </rules>
        <rules>
            <name>Update_The_Welcome_Call_Task_Based_On_Disposition</name>
            <conditionLogic>1 AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CrtObjectId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_CallDispositionCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Call_Outbound_Type</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Call_Disposition</targetReference>
            </connector>
            <label>Update The Welcome Call Task Based On Disposition</label>
        </rules>
        <rules>
            <name>Current_Task_Status_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Process_Attribute_Details__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mdv_CurrentTaskStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Submitted_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Tasks</targetReference>
            </connector>
            <label>Current Task Status - Outcome</label>
        </rules>
        <rules>
            <name>Check_For_New_Task_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Process_Attribute_Details__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Triggering_Object_Decision</targetReference>
            </connector>
            <label>Check For New Task Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>MobileNumber_Related_Open_Callback_Case_Exist</name>
        <label>MobileNumber Related Open Callback Case Exist</label>
        <locationX>1381</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Related_To_Id_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_MobileNumber_Related_Case_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MobileNumber_Related_Existing_Call_back_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MobileNumber_Related_Case</targetReference>
            </connector>
            <label>IF MobileNumber Related Case Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Present_Task_History_Matrix_Decision</name>
        <label>Record Present Task History Matrix Decision</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Assign_mdv_TaskHistoryMatrix</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Present_Task_History_Matrix_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_Task_History_Matrix_c_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Records_Task_History_Matrix_c_Opportunity.End_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_History_Matrix_EndTime_Assignment</targetReference>
            </connector>
            <label>Record Present Task History Matrix Outcome</label>
        </rules>
        <rules>
            <name>Create_New_TaskHistoryMatrix_Outcome</name>
            <conditionLogic>1 or (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsClosed</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.IsClosed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_History_Matrix_New_Record_Assignment</targetReference>
            </connector>
            <label>Create New TaskHistoryMatrix Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_To_Id_Check</name>
        <label>Related To Id Check</label>
        <locationX>1744</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Case_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Related_To_Id_Is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mobile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contact_Record_Available</targetReference>
            </connector>
            <label>Check Related To Id Is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Triggering_Object_Decision</name>
        <label>Triggering Object Decision</label>
        <locationX>5022</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Number_Of_Attempt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Attempt_No__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Process_Attribute_Details__r.Allowed_No_Of_Attempts__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Task_Status_Failed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Attempt_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reattempt_Task_Creation</targetReference>
            </connector>
            <label>Task Number Of Attempt</label>
        </rules>
        <rules>
            <name>Deactivate_WCD_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Attempt_No__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Process_Attribute_Details__r.Allowed_No_Of_Attempts__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Task_Status_Failed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Welcome_Calling_Details__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_Welcome_Call_Details</targetReference>
            </connector>
            <label>Deactivate WCD Record</label>
        </rules>
        <rules>
            <name>Opportunity_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Task_Status_Completed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assing_Opportunity_Object</targetReference>
            </connector>
            <label>Opportunity Outcome</label>
        </rules>
        <rules>
            <name>Case_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Task_Status_Completed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assing_Case_Object</targetReference>
            </connector>
            <label>Case Outcome</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fv_OpportunityID</name>
        <dataType>String</dataType>
        <expression>if (CONTAINS({!$Record.WhatId}, &apos;006&apos;),{!$Record.WhatId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fv_TaskCreated</name>
        <dataType>String</dataType>
        <expression>&quot;Hi,&quot; &amp;BR() + 
 &quot;You have been assigned a new Task . Please click below link&quot; &amp;BR() + {!$Label.SalesforceUrl}&amp;{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>fv_TaskCurrentAttemptNumber</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Current_Attempt_No__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>F Task After {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F Task After InsertUpdate</label>
    <loops>
        <name>Loop_Over_Related_Task_List</name>
        <label>Loop Over Related Task List</label>
        <locationX>4010</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Related_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Looped_Record_Purpose</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Updated_Related_TaskLIst</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Account_Insertion</name>
        <label>Account Insertion</label>
        <locationX>1722</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Contact_Assignment</targetReference>
        </connector>
        <inputReference>rv_NewAccount</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CallBack_Case_Creation</name>
        <label>CallBack Case Creation</label>
        <locationX>1744</locationX>
        <locationY>1853</locationY>
        <connector>
            <targetReference>Update_Case_What_id_as_Case_Id</targetReference>
        </connector>
        <inputReference>rv_Case</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Contact_Insertion</name>
        <label>Contact Insertion</label>
        <locationX>1722</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>AccountId_Assignment</targetReference>
        </connector>
        <inputReference>rv_NewContact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Account_Insertion</name>
        <label>Copy 1 of Account Insertion</label>
        <locationX>1458</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Copy_1_of_Contact_Assignment</targetReference>
        </connector>
        <inputReference>rv_NewAccount</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Audit_API_Record</name>
        <label>Create Audit API Record</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Assign_mdv_CommunicationCallOut</targetReference>
        </connector>
        <inputReference>rv_NewAuditLog</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Feed</name>
        <label>Create Task Feed</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Assign_mdv_PostToChatter</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>fv_TaskCreated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRichText</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_History_Matrix</name>
        <label>Create Task History Matrix</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Assign_mdv_TaskHistoryMatrix</targetReference>
        </connector>
        <inputReference>rv_Task_History_Matrix</inputReference>
    </recordCreates>
    <recordCreates>
        <name>ReAttempt_Task</name>
        <label>ReAttempt Task</label>
        <locationX>4494</locationX>
        <locationY>647</locationY>
        <inputReference>rv_NewRepeatTask</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Check_Contact_Record_Available</name>
        <label>Check Contact Record Available</label>
        <locationX>1502</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Is_Available_As_Per_Mobile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MobileNumber_Related_Existing_Call_back_Case</name>
        <label>Get MobileNumber Related Existing Call back Case</label>
        <locationX>1381</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MobileNumber_Related_Open_Callback_Case_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Engagement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call Back</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Query</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_Task_History_Matrix_c_Opportunity</name>
        <label>Get Records Task_History_Matrix__c - Opportunity</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Present_Task_History_Matrix_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaskId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task_History_Matrix__c</object>
        <sortField>Start_Time__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Tasks</name>
        <label>Get Related Tasks</label>
        <locationX>4164</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Related_Task_Records</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 4 AND ((3 AND 5) OR (6 AND 7)) And 8 AND 9 AND 10)</filterLogic>
        <filters>
            <field>Process_Attribute_Details__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Process_Attribute_Details__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Task_ID_Follow_Up__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>$Record.Id</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Task_ID_Follow_Up__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <sortField>Serialnumber__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Deactivate_Welcome_Call_Details</name>
        <label>Deactivate Welcome Call Details</label>
        <locationX>4758</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Welcome_Calling_Details__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>No Response from the customer. We have reached the number of attempt to do business call.</stringValue>
            </value>
        </inputAssignments>
        <object>Welcome_Calling_Details__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_What_id_as_Case_Id</name>
        <label>Update Case What id as Case Id</label>
        <locationX>1381</locationX>
        <locationY>2045</locationY>
        <connector>
            <targetReference>Assign_mdv_CallBackTask</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>rv_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_with_Account_ID</name>
        <label>Update Contact with Account ID</label>
        <locationX>1458</locationX>
        <locationY>1295</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AccountId_Assignment</targetReference>
        </connector>
        <inputReference>Check_Contact_Record_Available</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_record</name>
        <label>Update Current record</label>
        <locationX>4010</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Assign_mdv_CurrentTaskStatus</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Task_Records</name>
        <label>Update Related Task Records</label>
        <locationX>3878</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Update_Current_record</targetReference>
        </connector>
        <inputReference>rv_UpdatedRelatedTasks</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_History_Matrix</name>
        <label>Update Task History Matrix</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Record_Present_Task_History_Matrix_Decision</targetReference>
        </connector>
        <inputReference>Get_Records_Task_History_Matrix_c_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Status_As_Completed</name>
        <label>Update Task Status As Completed</label>
        <locationX>2690</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Assign_mdv_CallDispositionCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Welcome Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Status_As_Failed</name>
        <label>Update Task Status As Failed</label>
        <locationX>2426</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Assign_mdv_CallDispositionCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Welcome Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>2806</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Main_Decision_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process_Path_Task_Detail__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>mdv_CallBackTask</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_CallDispositionCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_ChangeOfOwner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_CommunicationCallOut</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_CurrentTaskStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_PostToChatter</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mdv_TaskHistoryMatrix</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>rv_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>rv_NewAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>rv_NewAuditLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>API_Callout_Audit__c</objectType>
    </variables>
    <variables>
        <name>rv_NewContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>rv_NewRepeatTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rv_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>rv_Task_History_Matrix</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task_History_Matrix__c</objectType>
    </variables>
    <variables>
        <name>rv_Updatedrecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rv_UpdatedRelatedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Taskrv</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>v_OriginatingSysSL</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record.Serialnumber__c</elementReference>
        </value>
    </variables>
</Flow>
