force-app/main/default/flows/F_Welcome_Calling_Details_AfterInsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Case_Details_Assignment</name>
        <label>Case Details Assignment</label>
        <locationX>704</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>rv_Case.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mdt_WelcomeCallProcessDetails.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Case.Sub_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mdt_WelcomeCallProcessDetails.Sub_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Case.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mdt_WelcomeCallProcessDetails.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Case.Customer_Mobile_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Mobile_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_From_Account_Number.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Case.Financial_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Financial_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Case.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.System_IntegrationUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Insertion</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Case_Creation_Criteria</name>
        <label>Check Case Creation Criteria</label>
        <locationX>440</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Case_Details_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Account_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_From_Account_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Failure_Status</targetReference>
            </connector>
            <label>Is Account Empty</label>
        </rules>
        <rules>
            <name>Is_Financial_Account_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Financial_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Financial Account Empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fv_AccountNotAvailable</name>
        <dataType>String</dataType>
        <expression>{!$Record.Status__c}  &amp; &apos;System Is not able to identified in account associated with provided account number : &apos; &amp; {!$Record.Account_Number__c}</expression>
    </formulas>
    <formulas>
        <name>fv_RecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <expression>{!$Record.RecordType.DeveloperName}</expression>
    </formulas>
    <interviewLabel>F Welcome_Calling_Details_AfterInsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F Welcome_Calling_Details_AfterInsert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Case_Insertion</name>
        <label>Case Insertion</label>
        <locationX>704</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Assign_Case_Id_To_Triggered_Record</targetReference>
        </connector>
        <inputReference>rv_Case</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_From_Account_Number</name>
        <label>Get Account From Account Number</label>
        <locationX>440</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Financial_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Financial_Account</name>
        <label>Get Financial Account</label>
        <locationX>440</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Case_Creation_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Financial_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>mdt_WelcomeCallProcessDetails</name>
        <label>mdt_WelcomeCallProcessDetails</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_From_Account_Number</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Welcome_Call_Case_Entry_Criteria__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Case_Id_To_Triggered_Record</name>
        <label>Assign Case Id To Triggered Record</label>
        <locationX>704</locationX>
        <locationY>924</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>rv_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Failure_Status</name>
        <label>Update Failure Status</label>
        <locationX>176</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>fv_AccountNotAvailable</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Welcome_Calling_Details__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>mdt_WelcomeCallProcessDetails</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rv_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
