force-app/main/default/flows/SF_Edit_Task_Meeting_Call_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavigateTorecord</name>
        <label>NavigateTorecord</label>
        <locationX>754</locationX>
        <locationY>890</locationY>
        <actionName>c:NavigateTorecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>rv_Task_io.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:NavigateTorecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Attribute_values_UpdatedTask</name>
        <label>Assign Attribute values - UpdatedTask</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>rv_updatedTask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_Task_io.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_updatedTask.Meeting_Call_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_Meeting_Call_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_updatedTask.Geo_Location__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GeotaggingLocation.latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_updatedTask.Geo_Location__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GeotaggingLocation.longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_updatedTask.Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GeotaggingLocation.CompleteAddressstring</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_updatedTask.Follow_Up__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_Follow_Up</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_updatedTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Follw_Up</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Message</name>
        <label>Assign Error Message</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>v_ErrorMessageTextVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please Change the Meeting/Call Status!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Task_Detials</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Task_Creation_Attributes</name>
        <label>Assign New Task Creation Attributes</label>
        <locationX>534</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>v_trigger_object_name_io</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.DateTime_of_Meeting__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>SF_New_Task_Creation_Meeting_Call_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_rv_Task_io</name>
        <label>Assign rv_Task_io</label>
        <locationX>292</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>rv_Task_io</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task_io</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task_io.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Details.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task_io.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Details.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task_io.Task_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Details.Task_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task_io.Meeting_Call_Purpose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Details.Meeting_Call_Purpose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task_io.Contact_Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Details.Contact_Person__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task_io.Submitted_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Details.Submitted_By__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task_io.UserId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Details.UserId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task_io.Submitted_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Details.Submitted_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task_io.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Details.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Details.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Detials</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subject_Follow_Up</name>
        <label>Assign Subject Follow Up</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>rv_Task_io.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_Task_io.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Task_Creation_Attributes</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>pl_Follow_Up_No</name>
        <choiceText>&apos;No&apos;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_Follow_Up_Yes</name>
        <choiceText>&apos;Yes&apos;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Follw_Up</name>
        <label>Check Follw Up</label>
        <locationX>534</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Update_Current_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Follow_Up_Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inp_Follow_Up</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>pl_Follow_Up_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Subject_Follow_Up</targetReference>
            </connector>
            <label>Follow Up Yes Outcome</label>
        </rules>
        <rules>
            <name>Current_Task_Rescheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inp_Meeting_Call_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rescheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Task_Creation_Attributes</targetReference>
            </connector>
            <label>Current Task Rescheduled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Task_SF_Button_Status</name>
        <label>Check Task SF Button Status</label>
        <locationX>292</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Attribute_values_UpdatedTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Button_Outcome_Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rv_Task_io.Meeting_Call_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>inp_Meeting_Call_Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_Message</targetReference>
            </connector>
            <label>Button Outcome - Cancel</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pl_Meetin_Call_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Meeting_Call_status__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fv_Contact_Person</name>
        <dataType>String</dataType>
        <expression>{!rv_Task_io.Contact_Person__r.FirstName} + &apos; &apos; + {!rv_Task_io.Contact_Person__r.LastName}</expression>
    </formulas>
    <formulas>
        <description>the fields will be editable is the task status is open or else fields will be view only</description>
        <name>fv_Task_Status_open</name>
        <dataType>Boolean</dataType>
        <expression>if ({!rv_Task_io.IsClosed},False,True)</expression>
    </formulas>
    <interviewLabel>SF Edit Task {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>SF Edit Task - Meeting/Call Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Task_Details</name>
        <label>Get Task Details</label>
        <locationX>292</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_rv_Task_io</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_Task_io.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Record</name>
        <label>Update Current Record</label>
        <locationX>754</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>NavigateTorecord</targetReference>
        </connector>
        <inputReference>rv_updatedTask</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Task_Detials</name>
        <label>Task Detials</label>
        <locationX>292</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Task_SF_Button_Status</targetReference>
        </connector>
        <fields>
            <name>Task_Detials_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Task_Detials_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Subject</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Subject</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Not Available</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>rv_Task_io.Subject</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Task_Owner</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Task Onwer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Not Available</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>rv_Task_io.Submitted_By__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Meeting_Call_Purpose</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Meeting/Call Purpose</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Not Available</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>rv_Task_io.Meeting_Call_Purpose__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Follow_Up_Created</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Follow Up Created?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Not Available</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>rv_Task_io.Follow_Up__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>fv_Task_Status_open</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Task_Detials_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DateTime</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Date Time</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Not Available</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>rv_Task_io.DateTime_of_Meeting__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Contact_Person</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact Person</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Not Available</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>fv_Contact_Person</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Meeting_Call_Stauts_view</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Meeting/Call Status</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Not Available</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>rv_Task_io.Meeting_Call_status__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>fv_Task_Status_open</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>inp_Meeting_Call_Status</name>
                    <choiceReferences>pl_Meetin_Call_Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rv_Task_io.Meeting_Call_status__c</elementReference>
                    </defaultValue>
                    <fieldText>Meeting/Call Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>fv_Task_Status_open</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>v_displayErrorMessage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px; color: rgb(255, 0, 0);&quot;&gt;{!v_ErrorMessageTextVar}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>inp_Follow_Up</name>
            <choiceReferences>pl_Follow_Up_Yes</choiceReferences>
            <choiceReferences>pl_Follow_Up_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Follow Up?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fv_Task_Status_open</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>inp_Meeting_Call_Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Scheduled</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>inp_Meeting_Call_Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Rescheduled</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Task_Detials_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Task_Detials_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>inp_Comments</name>
                    <fieldText>Internal Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>fv_Task_Status_open</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>GeotaggingLocation</name>
            <extensionName>c:GeoTagging</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>latitude</name>
                <value>
                    <elementReference>GeotaggingLocation.latitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>longitude</name>
                <value>
                    <elementReference>GeotaggingLocation.longitude</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>166</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SF_New_Task_Creation_Meeting_Call_Type</name>
        <label>SF New Task Creation - Meeting/Call Type</label>
        <locationX>534</locationX>
        <locationY>1298</locationY>
        <flowName>SF_New_Task_Creation_Meeting_Call_Type</flowName>
        <inputAssignments>
            <name>rv_Task_io</name>
            <value>
                <elementReference>rv_Task_io</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>rv_updatedParentTask</name>
            <value>
                <elementReference>rv_updatedTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>v_trigger_Object_Name</name>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>rv_New_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rv_Task_io</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rv_updatedTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>v_ErrorMessageTextVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Meeting_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>rv_Task_io.Meeting_Call_status__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>v_trigger_object_name_io</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
