force-app/main/default/flows/SF_New_Lead_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavigateTo_DupLead_RecordDetailPage</name>
        <label>NavigateTo DupLead RecordDetailPage</label>
        <locationX>336</locationX>
        <locationY>1106</locationY>
        <actionName>c:NavigateTorecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Duplicate_Lead.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:NavigateTorecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NavigateToRecordDetailPage</name>
        <label>NavigateToRecordDetailPage</label>
        <locationX>182</locationX>
        <locationY>2330</locationY>
        <actionName>c:NavigateTorecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>rv_New_Lead.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:NavigateTorecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_New_Contact</name>
        <label>Assign New Contact</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>rv_New_Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_Contact_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Contact.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_New_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Contact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_Contact_Mobile</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Lead_Attributes</name>
        <label>Assign New Lead Attributes</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>rv_New_Lead.Product_Interested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_Product_Interested_Partner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Lead.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_Partner_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Lead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_Partner_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Lead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_Partner_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Lead.Customer_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_Customer_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Lead.Business_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_Business_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Lead.Lead_Owned_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_Lead_Created_By</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Lead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_Partner_Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Lead.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_Partner_Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Lead.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_Partner_Address.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Lead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_Partner_Address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Lead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_Partner_Address.inputProvinceOptions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Lead.Geo_Location__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GeotaggingLocation.latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Lead.Geo_Location__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GeotaggingLocation.longitude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_zipcodemandatoryerrormsg</name>
        <label>Assign zipcodemandatoryerrormsg</label>
        <locationX>864</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>v_zipcodemandatoryerrormsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Zip/PostalCode is mandatory. Please Check!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Capture_Partner_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_New_Lead_Assignment</name>
        <label>Default New Lead Assignment</label>
        <locationX>957</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>rv_New_Lead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Capture_Lead_Infomation</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>pl_individual_value</name>
        <choiceText>Individual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_partner_value</name>
        <choiceText>Partner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partner</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_radiobutton_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_radiobutton_yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Duplicate_Lead</name>
        <label>Check Duplicate Lead</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Duplicate_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Lead_Outcome_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Duplicate_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Contact_Details</targetReference>
            </connector>
            <label>Duplicate Lead Outcome - Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Contact_Created</name>
        <label>Check if Contact Created</label>
        <locationX>182</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>NavigateToRecordDetailPage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Name_Null_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inp_First_Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inp_Last_Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Contact</targetReference>
            </connector>
            <label>Lead Name Null Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Partner_Address_Pincode</name>
        <label>Check Partner Address Pincode</label>
        <locationX>523</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_zipcodemandatoryerrormsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partner_Address_Pincode_Outcome_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inp_Partner_Address.postalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Duplicate_Lead</targetReference>
            </connector>
            <label>Partner Address Pincode Outcome - Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Proceed_Outcome</name>
        <label>Check Proceed Outcome</label>
        <locationX>380</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proceed_Outcome_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_Proceed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>pl_radiobutton_yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Contact_Details</targetReference>
            </connector>
            <label>Proceed Outcome - yes</label>
        </rules>
        <rules>
            <name>Proceed_Outcome_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_Proceed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>pl_radiobutton_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NavigateTo_DupLead_RecordDetailPage</targetReference>
            </connector>
            <label>Proceed Outcome - No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type_of_Customer</name>
        <label>Check Type of Customer</label>
        <locationX>957</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partner_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inp_Customer_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>pl_partner_value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Partner_Details</targetReference>
            </connector>
            <label>Partner Outcome</label>
        </rules>
        <rules>
            <name>Individual_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inp_Customer_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Due</targetReference>
            </connector>
            <label>Individual Outcome</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pl_Available_Product</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Interested__c</picklistField>
        <picklistObject>Lead</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>To set the type of customers - Account (Type - Standard Field)</description>
        <name>pl_Customer_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Picklist value of the employee who have created the lead</description>
        <name>pl_Lead_Created_By</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_Product_Interested_Partner</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pl_Lead_Created_By_User</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>lead source</description>
        <name>pl_Lead_Source</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pl_Mode_of_Classes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ModeOfClasses__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fv_Contact_Mobile</name>
        <dataType>String</dataType>
        <expression>right(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!inp_Contact_Mobile.value}, &apos;-&apos;, &apos;&apos;),&apos;(&apos;,&apos;&apos;),&apos; &apos;,&apos;&apos;),10)</expression>
    </formulas>
    <formulas>
        <name>fv_Product_Interested</name>
        <dataType>String</dataType>
        <expression>if (ISNULL({!v_Product_Interested_Partner}),{!v_Product_Interested_Partner},{!inp_Product_Interested_Customer})</expression>
    </formulas>
    <interviewLabel>SF New Lead Creation {!$Flow.CurrentDateTime} {!LeadRecId}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>SF New Lead Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Check_if_Contact_Created</targetReference>
        </connector>
        <inputReference>rv_New_Lead</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Contact</name>
        <label>Create New Contact</label>
        <locationX>50</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>NavigateToRecordDetailPage</targetReference>
        </connector>
        <inputReference>rv_New_Contact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Duplicate_Lead</name>
        <label>Get Duplicate Lead</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Duplicate_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inp_Partner_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>PostalCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inp_Partner_Address.postalCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Capture_Contact_Details</name>
        <label>Capture Contact Details</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Capture_Lead_Details</targetReference>
        </connector>
        <fields>
            <name>Contact_Info</name>
            <fieldText>Contact Info</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Info_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>inp_First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>v_First_Name</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>inp_Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>v_Last_Name</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>inp_First_Name</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>inp_Contact_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>v_Contact_Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>inp_Contact_Mobile</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact Mobile</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>v_Contact_Mobile</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>10-digit mobile number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Capture_Lead_Details</name>
        <label>Capture Lead Details</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_New_Lead_Attributes</targetReference>
        </connector>
        <fields>
            <name>Lead_Details</name>
            <fieldText>Lead Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>inp_Lead_Source</name>
                    <choiceReferences>pl_Lead_Source</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rv_New_Lead.LeadSource</elementReference>
                    </defaultValue>
                    <fieldText>Lead Source</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lead_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>inp_Lead_Created_By</name>
                    <choiceReferences>pl_Lead_Created_By_User</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rv_New_Lead.Lead_Owned_By__c</elementReference>
                    </defaultValue>
                    <fieldText>Lead Created By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>GeotaggingLocation</name>
            <extensionName>c:GeoTagging</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>latitude</name>
                <value>
                    <elementReference>GeotaggingLocation.latitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>longitude</name>
                <value>
                    <elementReference>GeotaggingLocation.longitude</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>To capture the lead information</description>
        <name>Capture_Lead_Infomation</name>
        <label>Capture Lead Information</label>
        <locationX>957</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Type_of_Customer</targetReference>
        </connector>
        <fields>
            <name>Lead_Info</name>
            <fieldText>Lead Info</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Info_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>inp_Customer_Type</name>
                    <choiceReferences>pl_partner_value</choiceReferences>
                    <choiceReferences>pl_individual_value</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rv_New_Lead.Customer_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Customer Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lead_Info_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Set_Product_Interested_Business_Type</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Lead</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Product_Interested__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Business_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Business Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Product Interested</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>v_Product_Interested_Partner</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>v_Business_Type</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>v_Product_Interested_Partner</assignToReference>
                        <name>topValue</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>v_Business_Type</assignToReference>
                        <name>middleValue</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>inp_Customer_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>pl_partner_value</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>inp_Product_Interested_Customer</name>
                    <choiceReferences>pl_Available_Product</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Education Loan</stringValue>
                    </defaultValue>
                    <fieldText>Product Interested</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>inp_Customer_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>pl_individual_value</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Capture_Partner_Details</name>
        <label>Capture Partner Details</label>
        <locationX>523</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Partner_Address_Pincode</targetReference>
        </connector>
        <fields>
            <name>v_displayerrormsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!v_zipcodemandatoryerrormsg}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>v_zipcodemandatoryerrormsg</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Partner_Details</name>
            <fieldText>Partner Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>v_displayPincodeMsg</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 9px;&quot;&gt;Zip/Postal Code is manadatory&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>inp_Partner_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rv_New_Lead.Company</elementReference>
                    </defaultValue>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>inp_Courses_Offered</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rv_New_Lead.Courses_offered__c</elementReference>
                    </defaultValue>
                    <fieldText>Courses offered</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>inp_Mode_of_Classes</name>
                    <choiceReferences>pl_Mode_of_Classes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rv_New_Lead.ModeOfClasses__c</elementReference>
                    </defaultValue>
                    <fieldText>Mode of Classes</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>inp_Number_of_Teachers</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>rv_New_Lead.NumberOfEmployees</elementReference>
                    </defaultValue>
                    <fieldText>Number of Teachers</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>inp_Number_of_Students</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>rv_New_Lead.NumberOfStudents__c</elementReference>
                    </defaultValue>
                    <fieldText>Number of Students</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>inp_Partner_Address</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Due</name>
        <label>Due</label>
        <locationX>1128</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Distplay</name>
            <fieldText>&lt;p&gt;Tech Team Waiting Requirement from Product Team&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Lead</name>
        <label>Duplicate Lead</label>
        <locationX>380</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Check_Proceed_Outcome</targetReference>
        </connector>
        <fields>
            <name>Duplicate_lead_details</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Duplicate Lead Already Exist&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Lead Name : {!Get_Duplicate_Lead.Name}&lt;/p&gt;&lt;p&gt;Lead status : {!Get_Duplicate_Lead.Status}&lt;/p&gt;&lt;p&gt;Lead Source : {!Get_Duplicate_Lead.LeadSource}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_want_to_Proceed</name>
            <choiceReferences>pl_radiobutton_yes</choiceReferences>
            <choiceReferences>pl_radiobutton_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to Proceed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>831</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Default_New_Lead_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rv_New_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>rv_New_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>v_Business_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Contact_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Contact_Mobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>fv_Contact_Mobile</elementReference>
        </value>
    </variables>
    <variables>
        <name>v_duplicateleadErrormsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>v_Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>v_Product_Interested_Partner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_zipcodemandatoryerrormsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
