force-app/main/default/flows/SF_New_Task_Creation_Meeting_Call_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavigateTorecord</name>
        <label>NavigateTorecord</label>
        <locationX>710</locationX>
        <locationY>2198</locationY>
        <actionName>c:NavigateTorecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>rv_New_Task.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:NavigateTorecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Follow_Up_Rescheduled_Task_Attributes</name>
        <label>Assign Follow Up/Rescheduled Task Attributes</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>rv_New_Task.DateTime_of_Meeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_DateTime_of_Meeting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_Task_Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_taskReminderDatetime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Process_path_Task_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Task_Attributes</name>
        <label>Assign New Task Attributes</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>rv_New_Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.DateTime_of_Meeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_Date_Time_of_meeting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.Submitted_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_Task_Owner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.Contact_Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_Contact_Person</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.Meeting_Call_Purpose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_Meeting_Call_Purpose</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.Meeting_Call_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_Meeting_Call_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.Follow_Up__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_Follow_Up</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fv_Task_Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.Process_Attribute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_Lead_io.Process_Attribute__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_Lead_io.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Process_path_Task_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Task_Default_Values</name>
        <label>Assign New Task Default Values</label>
        <locationX>490</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>rv_New_Task</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.Follow_Up__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.Meeting_Call_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Triggered_SObject_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Task_Status_Completed</name>
        <label>Assign New Task Status Completed</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>rv_New_Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.Geo_Location__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inp_Geo_Location.latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.Geo_Location__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inp_Geo_Location.longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inp_Geo_Location.CompleteAddressstring</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Task_Attributes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Task_To_Task_I_O</name>
        <label>Assign New Task To Task I/O</label>
        <locationX>490</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>v_trigger_Object_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task_io</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_New_Task</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task_io.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_Task_io.DateTime_of_Meeting__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_New_Task_Default_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subject_Follow_Up</name>
        <label>Assign Subject Follow Up</label>
        <locationX>270</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>rv_New_Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Follow Up</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Task_To_Task_I_O</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Default_Values_Lead</name>
        <label>Assign Task Default Values - Lead</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>rv_Lead_io</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Navigate_Object_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_Lead_io.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_Lead_io.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Outcome_New_Task_Attributes</name>
        <label>Assign Task Outcome New Task Attributes</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>rv_New_Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_Task_io.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_Task_io.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.Task_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_Task_io.Task_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.Meeting_Call_Purpose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_Task_io.Meeting_Call_Purpose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.Contact_Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_Task_io.Contact_Person__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.Submitted_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_Task_io.Submitted_By__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.Parent_Task_ID_Follow_Up__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_Task_io.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.UserId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_Task_io.UserId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.Submitted_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_Task_io.Submitted_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_Task_io.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rv_New_Task.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rv_Task_io.WhoId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Follow_Up_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Process_Attributes</name>
        <label>Assign Task Process Attributes</label>
        <locationX>358</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>rv_New_Task.Process_Path_Task_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Process_path_Task_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead_Task</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Const_Account</name>
        <choiceText>Account</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Const_Lead</name>
        <choiceText>Lead</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>pl_radioButton_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_radioButton_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_Status_Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>pl_Status_open</name>
        <choiceText>Open</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>pl_Subject_Call</name>
        <choiceText>Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>pl_Subject_Meeting</name>
        <choiceText>Meeting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Meeting</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_New_Task_Status</name>
        <label>Check New Task Status</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Task_Status_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meeting_Status_Outcome_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inp_Meeting_Call_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Task_Attributes</targetReference>
            </connector>
            <label>Meeting Status Outcome - Scheduled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Process_path_Task_Details</name>
        <label>Check Process path Task Details</label>
        <locationX>490</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Create_Lead_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Process_path_Task_Details_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Process_path_Task_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rv_New_Task.Process_Path_Task_Detail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Process_Attributes</targetReference>
            </connector>
            <label>Process path Task Details - Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Triggered_SObject_Name</name>
        <label>Check Triggered SObject Name</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_trigger_Object_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Record</targetReference>
            </connector>
            <label>Lead Outcome</label>
        </rules>
        <rules>
            <name>Account_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_trigger_Object_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <label>Account Outcome</label>
        </rules>
        <rules>
            <name>Task_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_trigger_Object_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Outcome_New_Task_Attributes</targetReference>
            </connector>
            <label>Task Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_updateParentTask</name>
        <label>Check updateParentTask</label>
        <locationX>490</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Follow_up_required_Or_Not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_ParentTask_outcome_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rv_updatedParentTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Record</targetReference>
            </connector>
            <label>Update ParentTask - outcome Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Follow_up_required_Or_Not</name>
        <label>Follow up required Or Not</label>
        <locationX>490</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>NavigateTorecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Follow_Up_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rv_New_Task.Follow_Up__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>pl_radioButton_Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rv_New_Task.Meeting_Call_status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Subject_Follow_Up</targetReference>
            </connector>
            <label>Follow Up Outcome</label>
        </rules>
        <rules>
            <name>Rescheduled_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pl_meeting_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rescheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Task_To_Task_I_O</targetReference>
            </connector>
            <label>Rescheduled Outcome</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pl_Meeting_call_purpose</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Meeting_Call_Purpose__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pl_meeting_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Meeting_Call_status__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pl_Task_Contact_person</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_New_Task.WhoId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>rv_Task_Contact_person.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>rv_Task_Contact_person.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pl_Task_Owner</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_Lead_io.Product_Interested__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>rv_Task_Owner_account.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>rv_Task_Owner_account.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pl_task_Owner_User</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Education Loan</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>rv_New_Task.UserId__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fv_Contact_Person</name>
        <dataType>String</dataType>
        <expression>{!rv_New_Task.Contact_Person__r.FirstName} + &apos; &apos; + {!rv_New_Task.Contact_Person__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>fv_DateTime_of_Meeting</name>
        <dataType>DateTime</dataType>
        <expression>BLANKVALUE({!inp_Date_Time_of_meeting}, {!view_Date_Time_of_meeting})</expression>
    </formulas>
    <formulas>
        <name>fv_Task_Due_Date</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!fv_DateTime_of_Meeting})</expression>
    </formulas>
    <formulas>
        <name>fv_taskReminderDatetime</name>
        <dataType>DateTime</dataType>
        <expression>BLANKVALUE({!inp_Date_Time_of_meeting} - 15/1440, {!view_Date_Time_of_meeting})</expression>
    </formulas>
    <interviewLabel>SF New Task Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF New Task Creation - Meeting/Call Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead_Task</name>
        <label>Create Lead Task</label>
        <locationX>490</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>Check_updateParentTask</targetReference>
        </connector>
        <inputReference>rv_New_Task</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Task_Default_Values_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_path_Task_Details</name>
        <label>Get Process path Task Details</label>
        <locationX>490</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Process_path_Task_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_New_Task.Subject</elementReference>
            </value>
        </filters>
        <filters>
            <field>Task_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rv_New_Task.Subject</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Process_Path_Task_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Record</name>
        <label>Update Parent Record</label>
        <locationX>358</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Follow_up_required_Or_Not</targetReference>
        </connector>
        <inputReference>rv_updatedParentTask</inputReference>
    </recordUpdates>
    <screens>
        <name>Capture_Meeting_Details</name>
        <label>Capture Meeting Details</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_New_Task_Status</targetReference>
        </connector>
        <fields>
            <name>Meeting_Details</name>
            <fieldText>Meeting Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Meeting_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>inp_Meeting_Call_Purpose</name>
                    <choiceReferences>pl_Meeting_call_purpose</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rv_Task_io.Meeting_Call_Purpose__c</elementReference>
                    </defaultValue>
                    <fieldText>Meeting/Call Purpose</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Meeting_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>inp_Meeting_Call_Status</name>
                    <choiceReferences>pl_meeting_Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rv_New_Task.Meeting_Call_status__c</elementReference>
                    </defaultValue>
                    <fieldText>Meeting/Call Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>inp_Follow_Up</name>
            <choiceReferences>pl_radioButton_No</choiceReferences>
            <choiceReferences>pl_radioButton_Yes</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>rv_New_Task.Follow_Up__c</elementReference>
            </defaultValue>
            <fieldText>Follow Up?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>rv_Task_io.Subject</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>inp_Meeting_Call_Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Scheduled</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>inp_Meeting_Call_Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Rescheduled</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Internal Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Follow_Up_Task</name>
        <label>Create Follow Up Task</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Follow_Up_Rescheduled_Task_Attributes</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_inp_Task_Details</name>
            <fieldText>Task Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_inp_Task_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>view_Subject_FollowUp</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Subject</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Not Available</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>rv_New_Task.Subject</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>rv_New_Task.Subject</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Follow Up</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>view_Task_Owner</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Task Owner</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Not Available</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>rv_New_Task.Submitted_By__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>view_Meeting_Call_Purpose</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Meeting/Call Purpose</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Not Avaialable</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>rv_New_Task.Meeting_Call_Purpose__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_inp_Task_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>view_Date_Time_of_meeting</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>rv_New_Task.DateTime_of_Meeting__c</elementReference>
                    </defaultValue>
                    <fieldText>Date Time of meeting</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>view_Task_Contact_Person</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact Person</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Not Available</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>fv_Contact_Person</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>view_Meeting_Call_Status</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Meeting/Call Status</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Not Available</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>rv_New_Task.Meeting_Call_status__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>view_Comments</name>
            <fieldText>Internal Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Inp_Location</name>
            <extensionName>c:GeoTagging</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>latitude</name>
                <value>
                    <elementReference>Inp_Geo_Location.latitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>longitude</name>
                <value>
                    <elementReference>Inp_Geo_Location.longitude</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Capture_Meeting_Details</targetReference>
        </connector>
        <fields>
            <name>inp_Task_Details</name>
            <fieldText>Task Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>inp_Task_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>inp_Subject</name>
                    <choiceReferences>pl_Subject_Meeting</choiceReferences>
                    <choiceReferences>pl_Subject_Call</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rv_New_Task.Subject</elementReference>
                    </defaultValue>
                    <fieldText>Subject</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>rv_New_Task.Subject</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Follow Up</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>inp_Task_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>inp_Date_Time_of_meeting</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>rv_New_Task.DateTime_of_Meeting__c</elementReference>
                    </defaultValue>
                    <fieldText>Date Time of meeting</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Create_Task_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Task_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>inp_Task_Owner</name>
                    <choiceReferences>pl_task_Owner_User</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rv_New_Task.Task_Owner__c</elementReference>
                    </defaultValue>
                    <fieldText>Task Owner</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>inp_Contact_Person</name>
                    <choiceReferences>pl_Task_Contact_person</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>rv_New_Task.Contact_Person__c</elementReference>
                    </defaultValue>
                    <fieldText>Task Contact Person</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Inp_Geo_Location</name>
            <extensionName>c:GeoTagging</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>latitude</name>
                <value>
                    <elementReference>Inp_Geo_Location.latitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>longitude</name>
                <value>
                    <elementReference>Inp_Geo_Location.longitude</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_New_Task_Default_Values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inp_Sobject_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rv_Lead_io</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>rv_New_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rv_Task_Contact_person</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>rv_Task_io</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>rv_Task_Owner_account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>rv_updatedParentTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>v_Meeting_Call_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>v_Meeting_Call_status</elementReference>
        </value>
    </variables>
    <variables>
        <name>v_Navigate_Object_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Task_Contact_Person</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_task_Owner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Task_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>v_Task_Status</elementReference>
        </value>
    </variables>
    <variables>
        <name>v_trigger_Object_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
